<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<link rel="stylesheet" th:href="@{/bower_components/jquery.tablesorter/dist/css/jquery.tablesorter.pager.min.css}"/>
<link rel="stylesheet" th:href="@{/bower_components/jquery.tablesorter/dist/css/theme.blue.min.css}"/>
<link rel="stylesheet" th:href="@{/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css}"/>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.widgets.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js}"></script>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		
		addMensanjesFuncionalidad({recarga:true});
		
		//Adaptacion de un ejemplo http://jsfiddle.net/Mottie/wty134u7/
		$('#tabla-pacientes').tablesorter({
			theme:'blue',
			widthFixed: true,
			 initWidgets: true,
			 widgets: ['zebra','resizable'],
			 widgetOptions: {
			      resizable_addLastColumn : true,
			    }
		}).tablesorterPager({
		    container: $(".pager"),
		    ajaxUrl: null,
//	 	    ajaxProcessing: function(ajax) {
//	 	        if (ajax && ajax.hasOwnProperty('data')) {
//	 	            return [ajax.data, ajax.total_rows];
//	 	        }
//	 	    },
		    output: 'de {startRow} a {endRow} (TOTAL: {totalRows})',
		    updateArrows: true,
		    page: 0,
		    size: 10,
		    fixedHeight: true,
		    removeRows: false,
		    cssNext: '.next',
		    cssPrev: '.prev',
		    cssFirst: '.first',
		    cssLast: '.last',
		    cssGoto: '.gotoPage',
		    cssPageDisplay: '.pagedisplay',
		    cssPageSize: '.pagesize',
		    cssDisabled: 'disabled'

		});
	
		$('.estado-usuario').bootstrapSwitch({
			size:"small"
		});
		
		$('.estado-usuario').on('switchChange.bootstrapSwitch',function(event,estado) {
			//El usuario es el contenido de la primera celda de la fila.
			usuario = $(this).parents('tr').children('td').first().attr("data-username");
			if(estado) {
				mensajeWarning("Cambiando el estado del usuario : "+usuario);
				$.ajax(
					{
						url:'/'+contextApp+'/admin/usuarios/activa/'+usuario,
						method:'POST',
					}		
				).done(function(data, textStatus, jqXHR) {
					mensajeSuccess("ACTIVADO el usuario : "+usuario);
				}).fail(function(jqXHR, textStatus, errorThrown) {
					mensajeError("Error al intentar la activación del usuario "+usuario);
				}).always(function(data){
					
				});
			} else {
				//el nuevo estado es desactivado
				mensajeWarning("Cambiando el estado del usuario : "+usuario);
				$.ajax(
					{
						url:'/'+contextApp+'/admin/usuarios/desactiva/'+usuario,
						method:'POST',
					}		
				).done(function(data, textStatus, jqXHR) {
					mensajeSuccess("DESACTIVADO el usuario : "+usuario);
				}).fail(function(jqXHR, textStatus, errorThrown) {
					mensajeError("Error al intentar la desactivación del usuario "+usuario);
				}).always(function(data){
					
				});	
			}
			
		});
	 });
	 
/*]]>*/	
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
		<ol th:replace="fragment/adminBarra"></ol>
		<div class="row">
			<a class="btn btn-primary pull-right" th:href="@{/admin/usuarios/nuevo}">Nuevo Usuario</a>
		</div>
		<div class="row">
			<table id="tabla-pacientes" class="md-col-12">
				<thead>
					<tr>
						<td>usuario</td>
						<td>Nombre</td>
						<td>1er Apellido</td>
						<td>2o Apellido</td>
						<td>Estado</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${allUsuarios}">
						<td th:attr="data-username=${usuario.username}">
							<b><a th:href="|@{/admin/usuarios/edit/}${usuario.username}|" th:text="${usuario.username}"></a></b>
						</td>
						<td th:text="${usuario.nombre}"></td>
						<td th:text="${usuario.apellido01}"></td>
						<td th:text="${usuario.apellido02}"></td>
						<td><input class="estado-usuario" type="checkbox" th:checked="${usuario.numIntentos}>0" ></input></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>