<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<link rel="stylesheet" th:href="@{/bower_components/jquery.tablesorter/dist/css/jquery.tablesorter.pager.min.css}"/>
<link rel="stylesheet" th:href="@{/bower_components/jquery.tablesorter/dist/css/theme.blue.min.css}"/>
<link rel="stylesheet" th:href="@{/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css}"/>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.widgets.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js}"></script>
<style>
 #grupo-nombre-usuario-respuesta {
 	padding-top: 35px;
 	}
 	
 	.mierror {
 		font-weight:bold;
 		color:#F00;
 	}
 	
 	.misuccess {
 		font-weight:bold;
 		color:#081;
 	}
 	
</style>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
	$(document).ready(function() {
		
		addMensanjesFuncionalidad({'recarga':true});
		
	
		
		$('#admin').bootstrapSwitch({
			size:"small"
		});
		
		$('#activo').bootstrapSwitch({
			size:"small"
		});
		
		$("#username").focus();
		
		function existe(usuario) {
			if(usuario.length>3) {
				$.ajax(
						{
							url:'/'+contextApp+'/admin/usuarios/existe/'+usuario,
							method:'POST',
						}		
					).done(function(existe, textStatus, jqXHR) {
						if(existe) {
							$("#crea-usuario-submit").addClass("disabled");
							$("#mensaje-username").removeClass("misuccess");
							$("#mensaje-username").addClass("mierror");
							$("#mensaje-username").text("El usuario " + usuario +  " existe. Pruebe otro nombre de usuario.");
						}
						else if(usuario.length>3) {
							$("#crea-usuario-submit").removeClass("disabled");
							$("#mensaje-username").removeClass("mierror");
							$("#mensaje-username").addClass("misuccess");
							$("#mensaje-username").text("OK! el usuario "+usuario+" es válido.");
						}
					}).fail(function(jqXHR, textStatus, errorThrown) {
						
					}).always(function(data){
						
					});
			} else {
					$("#crea-usuario-submit").addClass("disabled");
					$("#mensaje-username").addClass("mierror");
					$("#mensaje-username").text("El usuario " + usuario +  " tiene menos de 4 caracteres.");
				}
		}
		
		$("#username").focusout(function() {
			existe($("#username").val());
		});
	

	})
	 
/*]]>*/	
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">

		<ol th:replace="fragment/adminBarra"></ol>
		<div class="row barra-admin">
			<a class="btn btn-warning" th:href="@{/admin/usuarios}"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Volver</a>
		</div>
		<div class="row">
			<form id="formulario-usuario-nuevo" class="form" method='POST'>
				<div class="row">
					<h3 id="cabecera-username" class="col-md-9 col-sm-10">Nuevo Usuario</h3>
				</div>
				<div class="row">
					<div id="grupo-nombre-usuario" class="form-group col-md-3 col-sm-4">
						<label class="control-label" for="nombre">Usuario:</label>
						<input id="username" class="form-control" name="username" type="text" th:value="${usuario.username}" placeholder="username"/>
					</div>
					<div id="grupo-nombre-usuario-respuesta" class="form-group col-md-7 col-sm-8">
						<p id="mensaje-username"></p>
					</div>
				</div>
				<div class="row">
					<div id="grupo-nombre-usuario" class="form-group col-md-3 col-sm-4">
						<label class="control-label" for="nombre">Nombre:</label>
						<input id="nombre" class="form-control" name="nombre" type="text" maxlength="50" th:field="${usuario.nombre}" placeholder="Nombre"/>
					</div>
					<div id="grupo-apellido01-usuario" class="form-group col-md-3 col-sm-4">
						<label class="control-label" for="apellido01">1er Apellido:</label>
						<input id="apellido01" class="form-control" name="apellido01" type="text" maxlength="50" th:field="${usuario.apellido01}" placeholder="1er Apellido"/>
					</div>
					<div id="grupo-apellido02-usuario" class="form-group col-md-3 col-sm-4">
						<label class="control-label" for="apellido02">2o Apellido:</label>
						<input id="apellido02" class="form-control" name="apellido02" type="text" maxlength="50" th:field="${usuario.apellido02}" placeholder="2o Apellido"/>
					</div>
				</div>
				<div class="row">
					<div id="grupo-puesto-usuario" class="form-group col-md-6 col-sm-6">
						<label class="control-label" for="nombre">Puesto:</label>
						<input id="" class="form-control" name="puesto" type="text" maxlength="150" th:field="${usuario.puesto}" placeholder="Puesto"/>
					</div>
					<div id="grupo-seccion-usuario" class="form-group col-md-3 col-sm-3">
						<label class="control-label" for="nombre">Seccion:</label>
						<select class="form-control" th:field="${usuario.seccion.idSeccion}">
							<option value="0">SSCC</option>
							<option value="1">ALBACETE</option>
							<option value="2">CIUDAD REAL</option>
							<option value="3">CUENCA</option>
							<option value="4">GUADALAJARA</option>
							<option value="5">TALAVERA</option>
							<option value="6">TOLEDO</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div id="grupo-seccion-activado" class="form-group col-md-3 col-sm-4" >
						<label class="control-label" for="activo">Activado:</label>
						<input id="activo" name="enabled" type="checkbox" th:field="${usuario.enabled}"></input>
					</div>
					<div id="grupo-seccion-administrador" class="form-group col-md-3 col-sm-4" >
						<label class="control-label" for="admin">Administrador:</label>
						<input id="admin" name="admin" type="checkbox" th:field="${usuario.admin}"></input>
					</div>
				</div>
				<div class="row">
					<div id="grupo-email" class="form-group col-md-4 col-sm-4">
						<label class="control-label" for="email">Correo Electrónico:</label>
						<input id="email" class="form-control" name="email" type="text" th:value="${usuario.email}" placeholder="email"/>
					</div>
					<p id="mensaje-username" class="col-md-3 col-sm-4"></p>
				</div>
				<div th:if="${usuario.generar}" class="row">
					<div id="grupo-seccion-activado" class="form-group col-md-7 col-sm-7" >
						<label class="control-label" for="nombre">Contraseña temporal:</label>
						<input id="password" class="form-control" name="apellido02" type="text" maxlength="50" th:field="${usuario.password}" placeholder="Contraseña Temporal"/>
					</div>
				</div>
				<input type="hidden" id="generar" name="generar" th:field="${usuario.generar}"></input>
				<div class="row">
					<input id="crea-usuario-submit" class="btn btn-primary pull-right" type="submit" value="Crear Usuario"></input>
				</div>
			</form>
		</div>
	</div>
</body>
</html>