<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<script type="text/javascript" th:inline="javascript">

</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
		<ol th:replace="fragment/adminBarra"></ol>
		<form>
			<div class="row">
				<a class="btn btn-success" th:href="|/${baseModel.baseApp}/admin/descargas/datosExplotacion|">Bajar fichero de explotación</a>
			</div>
		</form>
	</div>
</body>
</html>