<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title th:text="|CIE9MC ${enfermedadCie9mcModel.cie9Id} - ${enfermedadCie9mcModel.literal}|">CIE9MC FICHA XXX</title>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
       var routeBase = /*[[${route.baseUrl}]]*/ '';	
		var enfermedades;
		var enfermedadesLiterales;
		$(document).ready(function() {
			//Métodos auxiliares
			function agregaBotonesEnlace(enfermedad)
			{
				var regCie9mc = /(\b[\d]{3}\.[\d]{1,2}\b|\b[\d]{3}\b)/g;
				var coincidencias = enfermedad.match(regCie9mc);
				if(coincidencias!=null)
				{
					$('#colBusqueda').append("<label>&nbsp;</label><input class='btn btn-primary' type='button' value='ir a "
					+ coincidencias[0] +  "' onclick='location.assign(\"/rarasclm/enfermedades/cie9mc/show/" + encodeURIComponent(coincidencias[0]) + "\")'/>");
					$('#colBusqueda').append("<label>&nbsp;</label><input class='btn btn-success' type='button' value='Editar "
							+ coincidencias[0] +  "' onclick='location.assign(\"/rarasclm/enfermedades/cie9mc/edit/" + encodeURIComponent(coincidencias[0]) + "\")'/>");
				}
			}
			
			$('.dropdown-toggle').dropdown();
			$('.close').on('click' , function() { 
				  $('#modalEnf').modal('hide');
				});
			$.ajax({
				dataType : "json",
				url :  routeBase + "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					enfermedades = data;
					enfermedadesLiterales = $.map(enfermedades, function(v) {
						return  v.cie9Id + ' ' +  v.literal;
					});
					$("#enfermedadAutocomplete").autocomplete({
						source : enfermedadesLiterales,
						search : function(event, ui) {
							
						},
						select : function(event, ui) {
							agregaBotonesEnlace(ui.item.value);
						},
						minLength : 3
					});
					if($("#enfermedadAutocomplete").val()!='')
					{
						agregaBotonesEnlace($("#enfermedadAutocomplete").val());
					}
				}
			});
		});
 /*]]>*/
</script>

</head>
<body>
	<div id="contenido" layout:fragment="content">
		<div class="row">
			<h4 class="span10" th:text="|${enfermedadCie9mcModel.cie9Id} ${enfermedadCie9mcModel.literal}|">Enfermedades cie9</h4>
		</div>		
		<div>
			<input class='btn btn-success' 
				   type="button" 
				   th:onclick="@{|location.assign('/rarasclm/enfermedades/cie9mc/edit/${enfermedadCie9mcModel.cie9Id}')|}" 
				   value="Editar" />
		</div>
		<div>
			<h5 th:text="|CIE9MC ${enfermedadCie9mcModel.cie9Id}|">CIE9MC NNN.NN</h5>
			<h5 th:text="${enfermedadCie9mcModel.literal}" >XXXXX XXXXXXXXX XXXX</h5>
			<a  th:href="${enfermedadCie9mcModel.url}" th:text="${enfermedadCie9mcModel.url}" target="_blank"></a>
		 	<div th:utext="${enfermedadCie9mcModel.notas}"></div>
		</div>
		
		<!-- Modal de enfermedades para la búsqueda -->
		<div id="modalEnf" class="modal hide fade">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>Selección de Enfermedad CIE9MC</h3>
			  </div>
			  <div class="modal-body">
			   <div id="cuadro" style="height: 300px; overflow: scroll">
			    <ul th:each="cie : ${allCie9mc}">
			      <li class="rclmEnfermedadModal"><a th:href="@{|${route.baseUrl}show/${cie.cie9Id}|}" th:text="|${cie.cie9Id} ${cie.literal}|"></a><a  style="margin-left:5px" class="btn btn-success btn-mini" type="button" th:href="@{|${route.baseUrl}edit/${cie.cie9Id}|}">Editar</a> </li>
			    </ul>
			   </div>
			  </div>
			  <div class="modal-footer">
			  </div>
		</div>
	  </div>
</body>
</html>