<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title th:text="|CIE9MC ${enfermedadRaraModel.enfermedadRaraId} - ${enfermedadRaraModel.literal}|">CIE9MC FICHA XXX</title>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
        var routeBase = /*[[${route.baseUrl}]]*/ '';	
		var enfermedades;
		var enfermedadesLiterales;
		$(document).ready(function() {
			$('.dropdown-toggle').dropdown();
			$('.close').on('click' , function() { 
				  $('#modalEnf').modal('hide');
				});
			$.ajax({ //Lista autocomplete de enfermedades raras
				dataType : "json",
				url :  routeBase + "json",
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					enfermedades = data;
					enfermedadesLiterales = $.map(enfermedades, function(v) {
						return  v.enfermedadRaraId + ' ' +  v.literal;
					});
					$("#enfermedadAutocomplete").autocomplete({
						source : enfermedadesLiterales,
						search : function(event, ui) {
							
						},
						select : function(event, ui) {
							//agregaBotonesEnlace(ui.item.value);
						},
						minLength : 3
					});
					if($("#enfermedadAutocomplete").val()!='')
					{
						agregaBotonesEnlace($("#enfermedadAutocomplete").val());
					}
				}
			});
		});
 /*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
		<div class="row">
			<h4 class="span10" th:text="|${enfermedadRaraModel.enfermedadRaraId} ${enfermedadRaraModel.literal}|">Enfermedades Raras</h4>
		</div>		
		<div>
			<input class='btn btn-success' type="button" 
				th:onclick="@{|location.assign('/rarasclm/enfermedades/enfrara/edit/${enfermedadRaraModel.enfermedadRaraId}')|}" value="Editar" />
		</div>
		<div class="notasHtmlShow">
			<!--<p><a  th:href="${enfermedadRaraModel.url}" th:text="${enfermedadRaraModel.url}"></a></p> -->
			<div th:utext="${enfermedadRaraModel.notas}"></div>
		</div>
		<!-- Modal de enfermedades -->
		<div th:if="${enfermedadRaraModel.enfermedadRaraHasEnfermedadRaraCie9mcs}!=null">
				<ul th:each="cie9 : ${enfermedadRaraModel.enfermedadRaraHasEnfermedadRaraCie9mcs}">
					<li th:text="|${cie9.enfermedadRaraCie9mc.cie9Id} ${cie9.enfermedadRaraCie9mc.literal}|">NN.NNN
						<ul>
							<li>URL:<a  th:href="${cie9.enfermedadRaraCie9mc.url}" th:text="${cie9.enfermedadRaraCie9mc.url}" target="_blank"></a></li>
						</ul>
					</li>
				</ul>
		</div>
	  </div>
</body>
</html>