<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title>EDITAR Paciente</title>
<script type="text/javascript" th:if="${baseModel.mensaje}!=null" th:inline="javascript">
/*<![CDATA[*/

var tipoMensaje = /*[[${baseModel.mensaje.tipo}]]*/null;
var textoMensaje = /*[[${baseModel.mensaje.mensaje}]]*/null;

/*]]>*/
</script>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
var routeBase = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';
var idCaso = /*[[${caso.idCaso}]]*/'';

//centinelas para conocer si se ha pulsado 
// el boton de enviar o borrar
var submitOkModificar = false;
var submitOkBorrar = false;


function mensajeError(mensaje) {
	$('#mensajes').html('<div class="alert alert-error"><p>'+mensaje+'</p></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button></div>');
	$('#mensajes').modal('show');
}

function mensajeSuccess(mensaje) {
	$('#mensajes').html('<div class="alert alert-success"><p>'+mensaje+'</p></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button></div>');
	$('#mensajes').modal('show');
}



var imgEspera = '<img id="img-espera-num-paciente" style="width:18px;margin-left:10px" alt="Esperando..." src="/'+ contextApp  +'/img/espera.gif"></img>';

function doAsociaEnfermedadRara(cod) {
	$.ajax({
		dataType : "json",
		url : "/" + contextApp + "/enfermedades/enfrara/json/"+cod,
	}).done(function( data, textStatus, jqXHR) {
		$("#codEnfrara").val(data.enfermedadRaraId);
		$("#enfraraObjeto").addClass("modificado");
		$("#enfraraObjeto").val(data.enfermedadRaraId+" "+data.literal);
		$("#linkEnfrara").text("/"+contextApp+"/enfermedades/enfrara/show/"+data.enfermedadRaraId);
		$("#linkEnfrara").attr("href","/"+contextApp+"/enfermedades/enfrara/show/"+data.enfermedadRaraId);
	}).fail(function( jqXHR, textStatus, errorThrown) {
		alert("¡Error! al asociar enfermededad rara a paciente");
	}).always(function() {
		$('#modalEnf').modal('hide');
	})
}


$(document).ready( function() {
	
	//evita operación de navegación
	var editado = false;
	//preparado para submit (Boton Enviar)
	var submitOkModificar = false;
	//preparado para submit (Boton Borrar)
	var submitOkBorrar = false;
	
	//Manejo de mensajes de retorno
	var showModal = false;

	
	$('#mensajes').on('hidden', function () {
		$.ajax({
			url: '/'+contextApp+'/resetMensaje',
			type: 'POST'
		})
	});
	
	if(typeof tipoMensaje === 'undefined') {
		showModal = false;
	} else if(tipoMensaje>0) {
		mensajeSuccess(textoMensaje);
		showModal=true;
	} else if(tipoMensaje<0) {
		mensajeError(textoMensaje)
		showModal=true;
	} 

	if(showModal) {
		$('#mensajes').modal('show');
	}

	
	//Manejo del submit (evitamos un submit que no sea
	//realizado mediante un click al botón correcto
	$('#form-edit-caso').on('submit',function(e) {
		if(!submitOkModificar && !submitOkBorrar)	{
			e.preventDefault();
		}
	});
	
	$('#btnEnviar').on('click',function() {
		submitOkModificar=true;
	});
	
	//Cambiamos el action del formulario para que haga la acción borrar
	$('#btnBorrar').on('click',function() {
		submitOkBorrar=true;
		$('#form-edit-caso').attr('action',routeBase+'/'+'delete'+'/'+idCaso);
		$('#form-edit-caso').submit();

	});
	
	//fin manejo del submit

	//Autocompletado de la enfermedad rara CLM
	$.ajax({
		dataType : "json",
		url : "/" + contextApp + "/enfermedades/enfrara/json",
		contentType : "application/json; charset=utf-8"
	}).done( function(data) {
				enfermedades = data;
				enfermedadesLiterales = $.map(enfermedades,
						function(v) {
							return {label:v.cod + ' ' + v.literal,
									value:v.cod};
						});
				$("#enfraraObjeto").autocomplete({
					source : enfermedadesLiterales,
					search : function(event, ui) {
		
					},
					select : function(event, ui) {
						 doAsociaEnfermedadRara(ui.item.value);
					},
					minLength : 3
				});
	});
	
	$("input,select,textarea").change(function(objEvent) {
		$(this).addClass("modificado");
	});
	
})

/*]]>*/
</script>
</head>

<body>
	<div id="contenido" layout:fragment="content">
	
		<!-- Mensajes -->
		<div id="mensajes" class="modal fade">
			<div th:if="${resultado.error}" class="alert alert-error">
				<p th:if="${resultado.mensaje} != null"
					th:text="${resultado.mensaje}">
				</p>
			</div>
			<div th:if="${resultado.success}" class="alert alert-success">
				<p th:if="${resultado.mensaje} != null"
					th:text="${resultado.mensaje}">
				</p>
			</div>
			<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
		</div>
	
	
		<div class="row">
		<div class="offset1">
		<form id="form-edit-caso" class="form-inline" method='POST'>
	
			<input id="idCaso" name="idCaso" type="hidden" th:value="${caso.idCaso}"/>
	
			<div class="row">
				<legend>Edición Caso <span th:text="|${caso.paciente.idPaciente} (${caso.numCaso})|"></span></legend>
			</div>
			
<!-- 			<div class="form-actions"> -->
<!-- 			  <button type="submit" class="btn btn-primary">Actualiza</button> -->
<!-- 			  <button type="button" class="btn">Cancel</button> -->
<!-- 			</div> -->

			<div id="formulario-contenido">
			<!-- CUADRO RESUMEN PACIENTE -->
			<div id="cuadro-resumen-paciente" class="row">
				<div id="grupo-nombre-paciente" class="form-group">
					<label class="control-label" for="literal">Apellidos y Nombre:</label>
					<p id="literal" class="span4"  th:text="|${caso.paciente.apellido01} ${caso.paciente.apellido02}, ${caso.paciente.nombre}|"></p>
				</div>
				<div id="grupo-nombre-paciente" class="form-group">
					<label class="control-label span1" for="literal">Sexo:</label>
					<p id="literal" class="span1"  th:text="${baseModel.cache.getSexoLiteral(caso.paciente.sexo)}"></p>
				</div>
				<div id="grupo-nombre-paciente" class="form-group">
					<label class="control-label span1" for="literal">Edad:</label>
					<p id="literal" class="span1"  th:text="|${caso.paciente.fechaNacimiento!=null ? baseModel.cache.getEdad(caso.paciente.fechaNacimiento) : '?'} años|"></p>
				</div>
				<div id="grupo-nombre-paciente" class="form-group">
					<label class="control-label span3" for="literal">Muncipio Residencia:</label>
					<p id="literal" class="span3"  th:text="|${baseModel.cache.getMunipioProvinciaDeno(caso.paciente.municipioResidencia)}|"></p>
				</div>
			</div>
			
			<div class="row">
				<div id="grupo-literal-caso" class="form-group">
					<label class="control-label span8" for="literal">Literal de la Enfermedad:</label>
					<input id="literal" class="span8" name="literal" type="text" maxlength="255" th:value="${caso.literal}" placeholder="Literal de la Enfermedad"/>
				</div>
			</div>
			<div class="row">
			
				<input type="hidden" id="codEnfrara" name="codEnfrara" th:field="${caso.enfermedadRara.enfermedadRaraId}"/>
				<input type="hidden" id="fechahoraModificacion" th:field="${caso.fechahoraModificacion}"/>
				<input type="hidden" id="fechahoraCreacion" th:field="${caso.fechahoraCreacion}"/>
			
				<!--  ENF. RARA CLM -->
				<div id="grupo-enfRara-caso" class="form-group">
					<label class="control-label span7" for="enfrara">Enfermedad Rara CLM:</label>
					<div class="input-append" style="width: 100%">
						<input id="enfraraObjeto" class="span7"  name="enfRaraCLMliteral" type="text" maxlength="250" th:value="|${caso.enfermedadRara.enfermedadRaraId} ${caso.enfermedadRara.literal}|" placeholder="Escriba Literal o código de la Enfermedad"/>
						<a class="btn add-on" data-toggle="modal" data-target="#modalEnf" href="" type="button"><i class="icon-search"></i></a>
					</div>
				</div>
			</div>
			
			<div id="cuadro-resumen-enfrara" class="row">
				<a id="linkEnfrara" target="_blank" th:href="|/${baseModel.baseApp}/enfermedades/enfrara/show/${caso.enfermedadRara.enfermedadRaraId}|" th:text="|/${baseModel.baseApp}/enfermedades/enfrara/show/${caso.enfermedadRara.enfermedadRaraId}|"></a>
			</div>
			<div id="grupo-fuentes" class="row">
				<h5>Codificaciones:</h5>
			</div>
			<div id="codificaciones-fuentes" class="row">
				<div id="grupo-codigos-cie9mc-caso" class="form-group">
					<label class="control-label span1" for="codCie9mc">CIE9MC:</label>
					<input id="codCie9mc" class="span1" name="codCie9mc" type="text" maxlength="6" th:value="${caso.codCie9mc}" placeholder="cie9"/>
				</div>
				<div id="grupo-codigos-cie10-caso" class="form-group">
					<label class="control-label span1" for="codCie10">CIE10:</label>
					<input id="codCie10" class="span1" name="codCie10" type="text" maxlength="5" th:value="${caso.codCie10}" placeholder="cie10"/>
				</div>
				<div id="grupo-codigos-edta-caso" class="form-group">
					<label class="control-label span1" for="codEdta">EDTA:</label>
					<input id="codEdta" class="span1" name="codEdta" type="text" maxlength="2" th:value="${caso.codEdta}" placeholder="edta"/>
				</div>
				<div id="grupo-codigos-omin-caso" class="form-group">
					<label class="control-label span2" for="codOmin">OMIN:</label>
					<input id="codOmin" class="span2" name="codOmin" type="text" maxlength="10" th:value="${caso.codOmin}" placeholder="omin"/>
				</div>
			</div>
			<div id="grupo-fuentes" class="row">
				<h5>Fuente de Información:</h5>
			</div>
			<div id="caja-fuente-informacion" class="row">
				<div id="grupo-fuentes1">
					<div id="fuente-cmdb-caso" class="form-group">
						<label class="control-label" for="fuenteCmbdC">CMBD:</label>
						<input type="checkbox" id="fuenteCmbdC"  name="fuenteCmbdC" th:field="${caso.fuenteCmbdC}"></input>
					</div>
					<div id="fuente-mortalidad-caso" class="form-group">
						<label class="control-label" for="fuenteRmortM">Mort.:</label>
						<input type="checkbox" id="fuenteRmortM" name="fuenteRmortM" th:field="${caso.fuenteRmortM}" ></input>
					</div>
					<div id="fuente-renales-caso" class="form-group">
						<label class="control-label" for="fuenteRenalR">Renales:</label>
						<input type="checkbox" id="fuenteRenalR" name="fuenteRenalR"  th:field="${caso.fuenteRenalR}"></input>
					</div>
					<div id="fuente-investigacion-caso" class="form-group">
						<label class="control-label" for="fuenteRinvI">R. Invest.:</label>
						<input type="checkbox" id="fuenteRinvI" name="fuenteRinvI" th:field="${caso.fuenteRinvI}"></input>
					</div>
					<div id="fuente-defcongenitos-caso" class="form-group">
						<label class="control-label" for="fuenteDefcongD">Def. Congé.:</label>
						<input type="checkbox" id="fuenteDefcongD" name="fuenteDefcongD" th:field="${caso.fuenteDefcongD}"></input>
					</div>
					<div id="fuente-defcongenitos-caso" class="form-group">
						<label class="control-label" for="fuenteEdoE">E.D.O.:</label>
						<input type="checkbox" id="fuenteEdoE" name="fuenteEdoE" th:field="${caso.fuenteEdoE}"></input>
					</div>
				</div>
				<div id="grupo-fuentes2">
					<div id="fuente-sociales-caso" class="form-group">
						<label class="control-label" for="fuenteIsocialesG">R. Soc.:</label>
						<input type="checkbox" id="fuenteIsocialesG" name="fuenteIsocialesG" th:field="${caso.fuenteIsocialesG}"></input>
					</div>
					<div id="fuente-mhuerfanos-caso" class="form-group">
						<label class="control-label" for="fuenteMhuerfH">M. Huerf.:</label>
						<input type="checkbox" id="fuenteMhuerfH" name="fuenteMhuerfH" th:field="${caso.fuenteMhuerfH}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteRcancerT">R. Cáncer:</label>
						<input type="checkbox" id="fuenteRcancerT" name="fuenteRcancerT" th:field="${caso.fuenteRcancerT}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteMetabolN">Metabolo.:</label>
						<input type="checkbox" id="fuenteMetabolN" name="fuenteMetabolN" th:field="${caso.fuenteMetabolN}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteHcPrimariaV">HC Primar.:</label>
						<input type="checkbox" id="fuenteHcPrimariaV" name="fuenteHcPrimariaV" th:field="${caso.fuenteHcPrimariaV}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteHcEspecializadaU">HC Secun.:</label>
						<input type="checkbox" id="fuenteHcEspecializadaU" name="fuenteHcEspecializadaU" th:field="${caso.fuenteHcEspecializadaU}"></input>
					</div>
				</div>
			</div>
			<div id="grupo-hospital" class="row">
				<div id="hospital-caso" class="form-group">
					<label class="control-label span6" for="hospital">Hospital ( historia clínica primaria ):</label>
					<select name="hospital" class="span6" id="hospital"  th:field="${caso.hospital}" >
						<option th:each="hospital : ${baseModel.cache.hospitales}" th:value="${hospital.idHospital}" th:text="|${hospital.idHospital} ${hospital.literal}|"></option>
					</select>
				</div>
				<div id="grupo-nhc-caso" class="form-group">
					<label class="control-label span2" for="literal">Número Historia Clínica:</label>
					<input id="nhc" class="span2" name="nhc" type="text" maxlength="12" th:value="${caso.nhc}" placeholder="nhc"/>
				</div>
			</div>
			<div id="grupo-base-diagnostico" class="row">
				<div id="basedtco-caso" class="form-group">
					<label class="control-label span6 " for="domTipoVia">Base del Diagnóstico:</label>
					<select name="baseDiagnostico" class="span6" id="baseDiagnostico"  th:field="${caso.baseDiagnostico}" >
						<option th:each="baseDto : ${baseModel.cache.basesDiagnosticas}" th:value="${baseDto.key}" th:text="${baseDto.value}"></option>
					</select>
				</div>	
			</div>
			<div id="grupo-juicio" class="row">
				<div id="juicio-clinico-caso" class="form-group">
					<label class="control-label span7" for="jucioClinico">Juicio Clínico:</label>
					<textarea id="jucioClinico" class="span7" name="jucioClinico" maxlength="512" th:text="${caso.jucioClinico}" cols="30" rows="5"> </textarea>
				</div>
			</div>
			<div id="grupo-tratamiento" class="row">
				<div id="tratamiento-caso" class="form-group">
					<label class="control-label span7" for="tratamiento">Tratamiento:</label>
					<textarea id="tratamiento" class="span7" name="tratamiento" th:text="${caso.tratamiento}" cols="30" rows="5"></textarea>
				</div>
			</div>
			<div id="grupo-observaciones" class="row">
				<div id="juicio-clinico-caso" class="form-group">
					<label class="control-label span7" for="observaciones">Observaciones:</label>
					<textarea id="observaciones" class="span7" name="observaciones" th:text="${caso.observaciones}" cols="30" rows="5"></textarea>
				</div>
			</div>
			<div id="grupo-fecha-inicio-sintomas" class="row">
				<div id="fecha-deteccion-caso" class="form-group">
					<label class="control-label span3" for="fechaDeteccion">Fecha de Detección:</label>
					<input id="fechaDeteccion" class="span3" name="fechaDeteccion" type="date"
						 th:value="${caso.fechaDeteccion}" />
				</div>
				<div id="inicio-sintomas-clinico-caso" class="form-group">
					<label class="control-label span3" for="fechaInicioSintomas">Fecha Inicio sintomas:</label>
					<input id="fechaInicioSintomas" class="span3" name="fechaInicioSintomas" type="date"
						 th:value="${caso.fechaInicioSintomas}" />
				</div>
				<div id="fecha-diagnostico-clinico-caso" class="form-group">
					<label class="control-label span3" for="fechaDiagnostico">Fecha Diagnostico:</label>
					<input id="fechaDiagnostico" class="span3" name="fechaDiagnostico" type="date"
						 th:value="${caso.fechaDiagnostico}" />
				</div>
			</div>
			
			<div id="grupo-cronicas-caso" class="row">
				<div id="familiaresEnfermedadesRaras-grupo" class="form-group">
					<label class="control-label span3" for="fechaDiagnostico">Familiares con Enfermedades Raras:</label>
					<select name="familiaresEnfermedadesRaras" class="span2" id="familiaresEnfermedadesRaras"  th:field="${caso.familiaresEnfermedadesRaras}">
						<option value="0">NO</option>
						<option value="1">SI</option>
						<option value="9">NC</option>
					</select>
				</div>
				<div id="otrasEnfermedadesCronicas-grupo" class="form-group">
					<label class="control-label span3" for="fechaDiagnostico">Otras enfermedades Crónicas:</label>
					<select name="otrasEnfermedadesCronicas" class="span2" id="otrasEnfermedadesCronicas"  th:field="${caso.otrasEnfermedadesCronicas}">
						<option value="0">NO</option>
						<option value="1">SI</option>
						<option value="9">NC</option>
					</select>
				</div>
			</div>
			<div id="grupo-cronicas-texto-caso" class="row">
				<div id="enfermedadesCronicas-caso" class="form-group">
					<label class="control-label span7" for="enfermedadesCronicas">Enfermedades Crónicas:</label>
					<textarea id="enfermedadesCronicas" class="span7" name="enfermedadesCronicas" th:text="${caso.enfermedadesCronicas}" cols="30" rows="5"></textarea>
				</div>
			</div>
			
				<div id="declaracion-caso" class="row">
				<h5>Declaración:</h5>
					<div id="declarada-grupo" class="form-group">
						<label class="control-label span2" for="declarada">DECLARADA:</label>
						<select name="declarada" class="span2" id="declarada"  th:field="${caso.declarada}">
							<option value="0">NO</option>
							<option value="1">SI</option>
						</select>
					</div>
					<div id="cuadro-declaración" class="form-group">
						<div id="fecha-diagnostico-clinico-caso" class="form-group">
							<label class="control-label span3" for="usuarioDeclara">Usuario Declara:</label>
							<input id="usuarioDeclara" class="span3" name="usuarioDeclara" type="text"
								 th:value="${caso.usuarioDeclara}" />
						</div>
					</div>
					<div id="fecha-declaracion-caso" class="form-group">
						<label class="control-label span3" for="fechaDeclara">Fecha de Declaración:</label>
						<input id="fechaDeclara" class="span3" name="fechaDeclara" type="date"
							 th:value="${caso.fechaDeclara}" />
					</div>
				</div>

			
			<div id="grupo-acciones-bajo" class="row">
				<div class="form-actions">
				  <button id="btnEnviar" type="submit" class="btn btn-primary">Guardar Cambios</button>
				  <button id="btnCancelar" type="button" class="btn">Cancel</button>
				  <button id="btnBorrar" style="float: right" type="submit" class="btn btn-danger">Borrar</button>
				</div>
			</div>
		   </div> <!-- Fin formulario contenido -->
		</form>
	  </div>
	  </div>
		
		<!-- Modal de enfermedades -->
		<div id="modalEnf" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Selección de Enfermedad Rara</h3>
			</div>
			<div class="modal-body">
				<div id="cuadro" style="height: 300px; overflow: scroll">
					<ul th:each="rara : ${allRaras}">
						<li class="rclmEnfermedadModal">
							<a th:onclick="|doAsociaEnfermedadRara('${rara.enfermedadRaraId}')|" th:text="|${rara.enfermedadRaraId} ${rara.literal}|"></a>
							<a  style="margin-left:5px" class="btn btn-success btn-mini" type="button" th:onclick="|doAsociaEnfermedadRara('${rara.enfermedadRaraId}')|">Asociar a Caso</a> 
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
			
			</div>
		</div>
		
	</div> <!-- Fin contenido -->
</body>
</html>