<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title th:text="|CASO ${caso.idCaso} ${caso.paciente.apellido01} ${caso.paciente.apellido02}|"></title>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
var routeBase = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';
var idCaso = /*[[${caso.idCaso}]]*/'';

//centinelas para conocer si se ha pulsado 
// el boton de enviar o borrar
var submitOkModificar = false;
var submitOkBorrar = false;

var imgEspera = '<img id="img-espera-num-paciente" style="width:18px;margin-left:10px" alt="Esperando..." src="/'+ contextApp  +'/img/espera.gif"></img>';

function doAsociaEnfermedadRara(cod) {
	$.ajax({
		dataType : "json",
		url : "/" + contextApp + "/enfermedad/enfrara/json/"+cod,
	}).done(function( data, textStatus, jqXHR) {
		$("#codEnfrara").val(data.enfermedadRaraId);
		$("#enfraraObjeto").addClass("modificado");
		$("#enfraraObjeto").val(data.enfermedadRaraId+" "+data.literal);
		$("#linkEnfrara").text("/"+contextApp+"/enfermedad/enfrara/show/"+data.enfermedadRaraId);
		$("#linkEnfrara").attr("href","/"+contextApp+"/enfermedad/enfrara/show/"+data.enfermedadRaraId);
	}).fail(function( jqXHR, textStatus, errorThrown) {
		mensajeError("¡Error! al asociar enfermededad rara al paciente");
	}).always(function() {
		$('#modalEnf').modal('hide');
	})
}


$(document).ready( function() {
	
	
	addMensanjesFuncionalidad();
	
	
	//Manejo del submit (evitamos un submit que no sea
	//realizado mediante un click al botón correcto
	$('#form-edit-caso').on('submit',function(e) {
		if(!submitOkModificar && !submitOkBorrar)	{
			e.preventDefault();
		}
	});
	
	$('#btnEnviar').on('click',function() {
		submitOkModificar=true;
	});
	
	//Cambiamos el action del formulario para que haga la acción borrar
	$('#btnBorrar').on('click',function() {
		submitOkBorrar=true;
		$('#form-edit-caso').attr('action',routeBase+'/'+'delete'+'/'+idCaso);
		$('#form-edit-caso').submit();

	});
	
	//fin manejo del submit

	//Autocompletado de la enfermedad rara CLM
	$.ajax({
		dataType : "json",
		method : 'POST',
		url : "/" + contextApp + "/enfermedad/enfrara/json",
		contentType : "application/json; charset=utf-8"
	}).done( function(data) {
				enfermedades = data;
				enfermedadesLiterales = $.map(enfermedades,
						function(v) {
							return {label:v.cod + ' ' + v.literal,
									value:v.cod};
						});
				$("#enfraraObjeto").autocomplete({
					source : enfermedadesLiterales,
					search : function(event, ui) {
		
					},
					select : function(event, ui) {
						 doAsociaEnfermedadRara(ui.item.value);
					},
					minLength : 3
				});
	});
	
	$("input,select,textarea").change(function(objEvent) {
		$(this).addClass("modificado");
	});
	
	$("#btn-revision").on('click',function() {
		$.ajax({
			dataType : "json",
			method: 'POST',
			url : "/" + contextApp + "/usuario/addrevision/"+idCaso,
			contentType : "application/json; charset=utf-8"
			}).fail(function(jqXHR,status,error) {
				mensajeError("<p><b>ERROR:</b></p> " + jqXHR.responseText)
			}).done(function (data) {
				showRespuesta(data);
			});
		});
	
	});//Fin ready event

/*]]>*/
</script>
</head>

<body>
	<div id="contenido" layout:fragment="content">
	<div class="row">
		<form id="form-edit-caso" class="form" method='POST'>
			<input id="idCaso" name="idCaso" type="hidden" th:value="${caso.idCaso}"/>
			<div class="row">
				<h4 class="col-md-8 col-sm-8">Edición Caso <span th:text="|${caso.paciente.idPaciente} (${caso.numCaso})|"></span></h4>
				<button class="col-md-2 col-sm-2 btn btn-success pull-right" id="btn-revision">Añadir a Revisión</button>				
			</div>
			<div id="formulario-contenido" class="row">
			<!-- CUADRO RESUMEN PACIENTE -->
			<div id="cuadro-resumen-paciente" class="row col-md-12 col-sm-12">
				<div id="grupo-nombre-paciente" class="form-group col-md-5 col-sm-5">
					<label class="control-label" for="literal">Apellidos y Nombre:</label>
					<p id="literal" class="control-label"  th:text="|${caso.paciente.apellido01} ${caso.paciente.apellido02}, ${caso.paciente.nombre}|"></p>
				</div>
				<div id="grupo-nombre-paciente" class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="literal">Sexo:</label>
					<p id="literal" class="control-label"  th:text="${baseModel.cache.getSexoLiteral(caso.paciente.sexo)}"></p>
				</div>
				<div id="grupo-nombre-paciente" class="form-group col-md-2 col-sm-2">
					<label class="control-label span1" for="literal">Edad:</label>
					<p id="literal" class=""  th:text="|${caso.paciente.fechaNacimiento!=null ? baseModel.cache.getEdad(caso.paciente.fechaNacimiento) : '?'} años|"></p>
				</div>
				<div id="grupo-nombre-paciente" class="form-group col-md-7 col-sm-7">
					<label class="control-label" for="literal">Muncipio Residencia:</label>
					<p id="literal" class=""  th:text="|${baseModel.cache.getMunipioProvinciaDeno(caso.paciente.municipioResidencia)}|"></p>
				</div>
			</div>
			
			<div class="row">
				<div id="grupo-literal-caso" class="form-group col-md-9 col-sm-10">
					<label class="control-label" for="literal">Literal de la Enfermedad:</label>
					<input id="literal" class="form-control" name="literal" type="text" maxlength="255" th:value="${caso.literal}" placeholder="Literal de la Enfermedad"/>
				</div>
			</div>
			<!-- Enfermedad Rara CLM -->
			<div id="enfermedad-rara-input-group" class="row">
			
				<input type="hidden" id="codEnfrara" name="codEnfrara" th:field="${caso.enfermedadRara.enfermedadRaraId}"/>
				<input type="hidden" id="fechahoraModificacion" th:field="${caso.fechahoraModificacion}"/>
				<input type="hidden" id="fechahoraCreacion" th:field="${caso.fechahoraCreacion}"/>
			
				<!--  ENF. RARA CLM -->
				<div id="grupo-enfRara-caso" class="form-group col-md-7 col-sm-11">
					<label class="control-label" for="enfrara">Enfermedad Rara CLM:</label>
					<div class="input-group">
						<input id="enfraraObjeto" class="form-control"  name="enfRaraCLMliteral" type="text" maxlength="250" th:value="|${caso.enfermedadRara.enfermedadRaraId} ${caso.enfermedadRara.literal}|" placeholder="Escriba Literal o código de la Enfermedad"/>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalEnf"><i class="glyphicon glyphicon-search"></i></button>
						</span>
					</div>
				</div>
				<div id="cuadro-resumen-enfrara" class="col-md-12 col-sm-12">
					<a id="linkEnfrara" target="_blank" th:href="|/${baseModel.baseApp}/enfermedad/enfrara/show/${caso.enfermedadRara.enfermedadRaraId}|" th:text="|/${baseModel.baseApp}/enfermedad/enfrara/show/${caso.enfermedadRara.enfermedadRaraId}|"></a>
				</div>
			</div>
			
			
			<div id="grupo-fuentes" class="row">
				<h5><b>Codificaciones:</b></h5>
			</div>
			<div id="codificaciones-fuentes" class="row">
				<div id="grupo-codigos-cie9mc-caso" class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="codCie9mc">CIE9MC:</label>
					<input id="codCie9mc" class="form-control" name="codCie9mc" type="text" maxlength="6" th:value="${caso.codCie9mc}" placeholder="cie9"/>
				</div>
				<div id="grupo-codigos-cie10-caso" class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="codCie10">CIE10:</label>
					<input id="codCie10" class="form-control" name="codCie10" type="text" maxlength="5" th:value="${caso.codCie10}" placeholder="cie10"/>
				</div>
				<div id="grupo-codigos-edta-caso" class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="codEdta">EDTA:</label>
					<input id="codEdta" class="form-control" name="codEdta" type="text" maxlength="2" th:value="${caso.codEdta}" placeholder="edta"/>
				</div>
				<div id="grupo-codigos-omin-caso" class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="codOmin">OMIN:</label>
					<input id="codOmin" class="form-control" name="codOmin" type="text" maxlength="10" th:value="${caso.codOmin}" placeholder="omin"/>
				</div>
			</div>
			
			<div id="grupo-fuentes" class="row">
				<h5><b>Fuente de Información:</b></h5>
			</div>

				<div id="grupo-fuentes1" class="col-md-9 col-sm-9">
					<div id="fuente-cmdb-caso" class="form-group">
						<label class="control-label" for="fuenteCmbdC">CMBD:</label>
						<input type="checkbox" class="" id="fuenteCmbdC"  name="fuenteCmbdC" th:field="${caso.fuenteCmbdC}"></input>
					</div>
					<div id="fuente-mortalidad-caso" class="form-group">
						<label class="control-label" for="fuenteRmortM">Mort.:</label>
						<input type="checkbox" class="" id="fuenteRmortM" name="fuenteRmortM" th:field="${caso.fuenteRmortM}" ></input>
					</div>
					<div id="fuente-renales-caso" class="form-group">
						<label class="control-label" for="fuenteRenalR">Renales:</label>
						<input type="checkbox" class="" id="fuenteRenalR" name="fuenteRenalR"  th:field="${caso.fuenteRenalR}"></input>
					</div>
					<div id="fuente-investigacion-caso" class="form-group">
						<label class="control-label" for="fuenteRinvI">R. Invest.:</label>
						<input type="checkbox" class="" id="fuenteRinvI" name="fuenteRinvI" th:field="${caso.fuenteRinvI}"></input>
					</div>
					<div id="fuente-defcongenitos-caso" class="form-group">
						<label class="control-label" for="fuenteDefcongD">Def. Con.:</label>
						<input type="checkbox" class="" id="fuenteDefcongD" name="fuenteDefcongD" th:field="${caso.fuenteDefcongD}"></input>
					</div>
					<div id="fuente-defcongenitos-caso" class="form-group">
						<label class="control-label" for="fuenteEdoE">E.D.O.:</label>
						<input type="checkbox" class="" id="fuenteEdoE" name="fuenteEdoE" th:field="${caso.fuenteEdoE}"></input>
					</div>
			  </div>
			  <div id="caja-fuente-informacion" class="row">
				<div id="grupo-fuentes2" class="col-md-9 col-sm-9">
					<div id="fuente-sociales-caso" class="form-group">
						<label class="control-label" for="fuenteIsocialesG">R. Soc.:</label>
						<input type="checkbox" class="" id="fuenteIsocialesG" name="fuenteIsocialesG" th:field="${caso.fuenteIsocialesG}"></input>
					</div>
					<div id="fuente-mhuerfanos-caso" class="form-group">
						<label class="control-label" for="fuenteMhuerfH">M. Huerf.:</label>
						<input type="checkbox" class="" id="fuenteMhuerfH" name="fuenteMhuerfH" th:field="${caso.fuenteMhuerfH}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteRcancerT">R. Cáncer:</label>
						<input type="checkbox" class="" id="fuenteRcancerT" name="fuenteRcancerT" th:field="${caso.fuenteRcancerT}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteMetabolN">Metabolo.:</label>
						<input type="checkbox" class="" id="fuenteMetabolN" name="fuenteMetabolN" th:field="${caso.fuenteMetabolN}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteHcPrimariaV">HC Primar.:</label>
						<input type="checkbox" class="" id="fuenteHcPrimariaV" name="fuenteHcPrimariaV" th:field="${caso.fuenteHcPrimariaV}"></input>
					</div>
					<div id="fuente-rtutores-caso" class="form-group">
						<label class="control-label" for="fuenteHcEspecializadaU">HC Secun.:</label>
						<input type="checkbox" class="" id="fuenteHcEspecializadaU" name="fuenteHcEspecializadaU" th:field="${caso.fuenteHcEspecializadaU}"></input>
					</div>
				</div>
			  </div>

			<div id="grupo-hospital" class="row">
				<div id="hospital-caso" class="form-group col-md-9 col-sm-9">
					<label class="control-label" for="hospital">Hospital ( historia clínica primaria ):</label>
					<select name="hospital" class="form-control" id="hospital"  th:field="${caso.hospital}" >
						<option th:each="hospital : ${baseModel.cache.hospitales}" th:value="${hospital.idHospital}" th:text="|${hospital.idHospital} ${hospital.literal}|"></option>
					</select>
				</div>
				<div id="grupo-nhc-caso" class="form-group col-md-2 col-sm-3">
					<label class="control-label" for="literal">N. Historia Clínica:</label>
					<input id="nhc" class="form-control" name="nhc" type="text" maxlength="12" th:value="${caso.nhc}" placeholder="nhc"/>
				</div>
			</div>
			<div id="grupo-base-diagnostico" class="row">
				<div id="basedtco-caso" class="form-group col-md-9 col-sm-9">
					<label class="control-label" for="domTipoVia">Base del Diagnóstico:</label>
					<select name="baseDiagnostico" class="form-control" id="baseDiagnostico"  th:field="${caso.baseDiagnostico}" >
						<option th:each="baseDto : ${baseModel.cache.basesDiagnosticas}" th:value="${baseDto.key}" th:text="${baseDto.value}"></option>
					</select>
				</div>	
			</div>
			<div id="grupo-juicio" class="row">
				<div id="juicio-clinico-caso" class="form-group col-md-7 col-sm-8">
					<label class="control-label" for="jucioClinico">Juicio Clínico:</label>
					<textarea id="jucioClinico" class="form-control" name="jucioClinico" maxlength="512" th:text="${caso.jucioClinico}" cols="30" rows="5"> </textarea>
				</div>
			</div>
			<div id="grupo-tratamiento" class="row">
				<div id="tratamiento-caso" class="form-group col-md-7 col-sm-8">
					<label class="control-label" for="tratamiento">Tratamiento:</label>
					<textarea id="tratamiento" class="form-control" name="tratamiento" th:text="${caso.tratamiento}" cols="30" rows="5"></textarea>
				</div>
			</div>
			<div id="grupo-observaciones" class="row">
				<div id="juicio-clinico-caso" class="form-group col-md-7 col-sm-8">
					<label class="control-label" for="observaciones">Observaciones:</label>
					<textarea id="observaciones" class="form-control" name="observaciones" th:text="${caso.observaciones}" cols="30" rows="5"></textarea>
				</div>
			</div>
			
			<div id="grupo-fecha-inicio-sintomas" class="row">
				<div id="fecha-deteccion-caso" class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="fechaDeteccion">Fecha de Detección:</label>
					<input id="fechaDeteccion" class="form-control" name="fechaDeteccion" type="date"
						 th:value="${caso.fechaDeteccion}" />
				</div>
				<div id="inicio-sintomas-clinico-caso" class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="fechaInicioSintomas">Fecha Inicio sintomas:</label>
					<input id="fechaInicioSintomas" class="form-control" name="fechaInicioSintomas" type="date"
						 th:value="${caso.fechaInicioSintomas}" />
				</div>
				<div id="fecha-diagnostico-clinico-caso" class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="fechaDiagnostico">Fecha Diagnostico:</label>
					<input id="fechaDiagnostico" class="form-control" name="fechaDiagnostico" type="date"
						 th:value="${caso.fechaDiagnostico}" />
				</div>
			</div>
			
			<div id="grupo-cronicas-caso" class="row">
				<div id="familiaresEnfermedadesRaras-grupo" class="form-group col-md-2 col-sm-3">
					<label class="control-label" for="fechaDiagnostico">Familiares con Enfermedades Raras:</label>
					<select name="familiaresEnfermedadesRaras" class="form-control" id="familiaresEnfermedadesRaras"  th:field="${caso.familiaresEnfermedadesRaras}">
						<option value="0">NO</option>
						<option value="1">SI</option>
						<option value="9">NC</option>
					</select>
				</div>
				<div id="otrasEnfermedadesCronicas-grupo" class="form-group col-md-2 col-sm-3">
					<label class="control-label" for="fechaDiagnostico">Otras enfermedades Crónicas:</label>
					<select name="otrasEnfermedadesCronicas" class="form-control" id="otrasEnfermedadesCronicas"  th:field="${caso.otrasEnfermedadesCronicas}">
						<option value="0">NO</option>
						<option value="1">SI</option>
						<option value="9">NC</option>
					</select>
				</div>
			</div>
			
			<div id="grupo-cronicas-texto-caso" class="row">
				<div id="enfermedadesCronicas-caso (Despcripción)" class="form-group col-md-7 col-sm-8">
					<label class="control-label" for="enfermedadesCronicas">Enfermedades Crónicas:</label>
					<textarea id="enfermedadesCronicas" class="form-control" name="enfermedadesCronicas" th:text="${caso.enfermedadesCronicas}" cols="30" rows="5"></textarea>
				</div>
			</div>
			
			<div id="declaracion-caso" class="row">
				<h5><b>Declaración:</b></h5>
					<div id="declarada-grupo" class="form-group col-md-2 col-sm-3">
						<label class="control-label" for="declarada">DECLARADA:</label>
						<select name="declarada" class="form-control" id="declarada"  th:field="${caso.declarada}">
							<option value="0">NO</option>
							<option value="1">SI</option>
						</select>
					</div>
					<div id="usuario-declara-diagnostico-clinico-caso" class="form-group col-md-5 col-sm-5">
						<label class="control-label" for="usuarioDeclara">Usuario Declara:</label>
						<input id="usuarioDeclara" class="form-control" name="usuarioDeclara" type="text"
							 th:value="${caso.usuarioDeclara}" />
					</div>
					<div id="fecha-declaracion-caso" class="form-group col-md-3 col-sm-3">
						<label class="control-label span3" for="fechaDeclara">Fecha de Declaración:</label>
						<input id="fechaDeclara" class="form-control" name="fechaDeclara" type="date"
							 th:value="${caso.fechaDeclara}" />
					</div>
			</div>

			
			<div id="grupo-acciones-bajo" class="row">
				<div class="form-actions col-md-10">
				  <button id="btnEnviar" type="submit" class="btn btn-primary">Guardar Cambios</button>
				  <button id="btnCancelar" type="button" class="btn">Cancel</button>
				  <button id="btnBorrar" style="float: right" type="submit" class="btn btn-danger">Borrar</button>
				</div>
			</div>
			
		   </div> <!-- Fin div formulario contenido -->
		</form>
	  </div>

		<!-- Modal de enfermedades -->
		<div id="modalEnf" class="modal fade"  tabindex="-1"  role="dialog">
			<div class="modal-dialog" role="document"> 
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3>Selección de Enfermedad Rara</h3>
					</div>
					<div class="modal-body">
						<div id="cuadro" style="height: 300px; overflow: scroll">
							<ul th:each="rara : ${allRaras}">
								<li class="rclmEnfermedadModal">
									<a th:href="|/${baseModel.baseApp}/enfermedad/enfrara/show/${rara.enfermedadRaraId}|"
										th:text="|${rara.enfermedadRaraId} ${rara.literal}|">
									</a> 
									<a style="margin-left: 5px" class="btn btn-success btn-mini"
										th:onclick="|doAsociaEnfermedadRara('${rara.enfermedadRaraId}')|">Asociar a Caso
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="modal-footer"></div>
				</div><!-- modal content -->
			</div><!-- modal dialog -->
		</div><!-- Fin Modal -->

	</div> <!-- Fin contenido -->
</body>
</html>