<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
var routeBase  = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';
var enfermedades;
var enfermedadesLiterales;

function renderBotonesPaciente(num,deno,cip) {
	var strEdit = "<a class='btn btn-success' href='/"+contextApp+"/pacientes/paciente/edit/"+num+"'>Editar</a>";
	return "<p style='padding:0; margin:0'><b>"+deno+"</b></p>"+"<p style='font-family: monospace; padding:0; margin-botton:10px'>"+cip+"</p>"+strEdit;
}

$(document)
.ready(function() {	
	
		$("#form-search-paciente").on('submit',function(e) {
		    	e.preventDefault();
		  });
		
		$("#img-espera-num-paciente").css('display','none');
		
	   $("#btnBusquedaNumeroPaciente").on('click',function() {
		   var val = $("#busquedaNumeroPaciente").val();
		   $("#resultado-busqueda-num-paciente").html("");
		   $("#img-espera-num-paciente").css('display','inline-block');
		   
		   $.ajax({
			  url: "/" + contextApp + "/pacientes/paciente/json/" + val,
			  dataType: 'json',
			  type: 'GET'
		   }).done(function(data,textStatus,jqXHR) {
			   var deno = data.apellido01.toUpperCase()+" "+data.apellido02.toUpperCase()+", "+data.nombre.toUpperCase();
			   if(data.fechaNacimiento!=null)
				   deno+='  ('+data.fechaNacimiento+')';
			   if(data.cip!=null)
				   cip = data.cip;
			   $("#resultado-busqueda-num-paciente").html(renderBotonesPaciente(val,deno,cip));
		   }).fail(function(jqXHR, textStatus, errorThrown) {
			   $("#resultado-busqueda-num-paciente").html("<p class='text-error'>No se encuentra el paciente</p>");
		   }).always(function(dataJq,errorOrJqXHR) {
			   $("#img-espera-num-paciente").css('display','none'); 
		   });	   
	   });
});
/*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
		<!-- BUSQUEDAS -->
		<form id="form-search-paciente" class="form" method='POST'>
		   <div class="row">
				<div id="grupo-busqueda-numero-paciente" class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="busquedaNumeroPaciente">Num. Paciente:</label>
						<div class="input-group" >
							<input id="busquedaNumeroPaciente" class="form-control" name="busquedaNumeroPaciente" type="text" maxlength="7"/>
							<span class="input-group-btn">
								<a id="btnBusquedaNumeroPaciente" class="btn btn-primary" href="#"><i class="glyphicon glyphicon-search"></i></a>
							</span>
						</div>
				</div>
			</div>
		<div class="row">
			<div class="col-md-8 col-sm-9" id="resultado-busqueda-num-paciente"></div>
		</div>
	 </form>
  </div><!-- Fin Contenido -->
</body>
</html>