<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
var routeBase  = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';
var enfermedades;
var enfermedadesLiterales;

function renderBotonesPaciente(num,deno) {
	var strShow = "<a class='btn btn-primary'  href='"+routeBase+"show/"+num+"'>Ver</a>";
	var strEdit = "<a class='btn btn-success' href='"+routeBase+"edit/"+num+"'>Editar</a>";
	return "<p>"+deno+"</p>"+strEdit;
}

$(document)
.ready(function() {	
	
		$("#form-search-paciente").on('submit',function(e) {
		    	e.preventDefault();
		  });
		
		$("#img-espera-num-paciente").css('display','none');
		
	   $("#btnBusquedaNumeroPaciente").on('click',function() {
		   var val = $("#busquedaNumeroPaciente").val();
		   $("#resultado-busqueda-num-paciente").html("");
		   $("#img-espera-num-paciente").css('display','inline-block');
		   
		   $.ajax({
			  url: routeBase + "json/" + val,
			  dataType: 'json',
			  type: 'GET'
		   }).done(function(data,textStatus,jqXHR) {
			   var deno = data.apellido01.toUpperCase()+" "+data.apellido02.toUpperCase()+", "+data.nombre.toUpperCase();
			   $("#resultado-busqueda-num-paciente").html(renderBotonesPaciente(val,deno));
		   }).fail(function(jqXHR, textStatus, errorThrown) {
			   $("#resultado-busqueda-num-paciente").html("<p class='text-error'>No se encuentra el paciente</p>");
		   }).always(function(dataJq,errorOrJqXHR) {
			   $("#img-espera-num-paciente").css('display','none'); 
		   });	   
	   });
});
/*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
		<!-- BUSQUEDAS -->
		<div class="row">
			<form id="form-search-paciente" class="form" method='POST'>
				<div id="grupo-busqueda-numero-paciente" class="form-group col-md-3">
					<label class="control-label" for="busquedaNumeroPaciente">Num. Paciente:</label>
						<div class="input-group" >
							<input id="busquedaNumeroPaciente" class="form-control" name="busquedaNumeroPaciente" type="text" maxlength="7"/>
							<span class="input-group-btn">
								<a id="btnBusquedaNumeroPaciente" class="btn btn-primary" href="#"><i class="glyphicon glyphicon-search"></i></a>
							</span>
						</div>
				</div>
				<div class="col-md-6">
					<div id="resultado-busqueda-num-paciente"></div>
				</div>
			</form>
		</div>
	</div><!-- Fin Contenido -->
</body>
</html>