<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title th:text="|${paciente.idPaciente} ${paciente.apellido01} ${paciente.apellido02}|"></title>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
var routeBase = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';  

var imgEspera = '<img id="img-espera-num-paciente" style="width:18px;margin-left:10px" alt="Esperando..." src="/'+ contextApp  +'/img/espera.gif"></img>';

$(document).ready( function() {

	addMensanjesFuncionalidad();
	
	var modificado;
	
	//Evitamos salir con modificaciones sin guardar
	$( window ).on('beforeunload',function(event) {
		numElem = $('input.modificado, select.modificado, textarea.modificado, checkbox.modificado').size();
		if(numElem>0)
			return false;
	});
	
	$.validator.addMethod("notNC",function(value,element) {
		return value!=9 && value!='' && value!=null ;
	});
	
	$("input").focusin( 
			function(event) {
				modificado=$(this).val();
		  	});
	
	//Cuando pierde el foco pasar a mayúsculas
	$("input").focusout( 
		function(event) {
			if(modificado.trim()!==($(this).val().trim())) {
				$(this).addClass("modificado");
			}
			$(this).val($(this).val().toUpperCase().trim());
	  	});
	

$("#form-edit-paciente").validate({
	rules: {
		cip : {
			required:true
		},
		apellido01: {
			required:true
		},
		nombre:{
			required:true
		},
		fechaNacimiento:{
			required:true
		},
		sexo: {
			notNC:true
		}
	},
	messages: {
		cip: {
			required: "El CIP es obligatorio"
		},
		apellido01: {
			required: "El campo 1er apellido es obligatorio"	
			},
		nombre: {
			required: "El campo nombre es obligatorio"	
			},
		fechaNacimiento: {
			required:"La fecha de nacimiento es obligatoria"
		},
		sexo: {
			notNC:"El sexo es obligatorio"
		}
	},
	submitHandler: function(form) {
		numElem = $('input.modificado, select.modificado, textarea.modificado').size();
		if(numElem===0) {
			mensajeWarning("No hay ningún campo modificado");
		} else  {
			$("input,textarea,checkbox").each(function() {
				$(this).removeClass('modificado');
			});
			form.submit();
		}
	},
	highlight: function(element) {
	        $(element).closest('.form-group').addClass('has-error');
	},
 	unhighlight: function(element) {
	        $(element).closest('.form-group').removeClass('has-error');
	}
	});
	
	$("input").focusout( 
			function() {
				$(this).val($(this).val().toUpperCase());
		  	});
	
	if($("#fallecido").val()==0)
		$("#fallecidoFecha").attr("readonly",true);
	
	$("#fallecido").change(function() {
		if($(this).val()==1) {
			$("#fallecidoFecha").attr("readonly",false);
			$("#fallecidoFecha").focus()
		} else {
			$("#fallecidoFecha").attr("readonly",true);
		}
	});
		
	$("#provinciaResidencia").change(function() {
		var provincia = $(this).val();
		var strHtml='<option value="99999" select>DESCONOCIDO</option>\n'
		$.ajax({
			url:'/'+ contextApp + '/localizaciones/municipios/deprovincia/'+provincia,
			dataType:'json',
		}).fail(function(jqXHR, textStatus, errorThrown)   {
	
		}).done(function(data, textStatus, jqXHR)   {
			for(i=0;i<data.length;i++) {
				strHtml += '<option value="' + data[i].municipio +'">'+ data[i].deno + '</option>\n'
			}
		}).always(function() {
			$('#municipioResidencia').html(strHtml);
		})
	});
})
/*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
	  <div class="row">
		<form id="form-edit-paciente" class="form" method='POST'>
			<input type="hidden" id="idPaciente" name="idPaciente" th:field="${paciente.idPaciente}"/>
			<div class="row">	
				<h4 class="col-md-6 col-sm-6" >Edición Paciente <span th:text="${paciente.idPaciente}"></span></h4>
				<a class="btn btn-success pull-right col-md-2 col-sm-2" th:href="|/${baseModel.baseApp}/pacientes/paciente/nuevo|">Paciente Nuevo</a> 
				<a style="margin-right:10px" class="btn btn-primary pull-right col-md-2 col-sm-2" th:href="|/${baseModel.baseApp}/pacientes/paciente/nuevaBusqueda|">Buscar paciente</a> 
			</div>
			<div id="formulario-contenido">
			<div class="row">
				<div id="grupo-apellido01-paciente" class="form-group col-md-3 col-sm-4">
					<label class="control-label" for="apellido01">1er Apellido:</label>
					<input id="apellido01" class="form-control" name="apellido01" type="text" maxlength="65" th:value="${paciente.apellido01}" placeholder="1er apellido"/>
				</div>
				<div id="grupo-apellido02-paciente" class="form-group col-md-3 col-sm-4">	
					<label class="control-label" for="apellido02">2o Apellido:</label>
					<input id="apellido02" class="form-control" name="apellido02" type="text" maxlength="65" th:value="${paciente.apellido02}" placeholder="2o apellido"/>
				</div>
				<div id="grupo-nombre-paciente" class="form-group col-md-3 col-sm-4">		
					<label class="control-label" for="nombre">Nombre:</label>
					<input id="nombre" class="form-control" name="nombre" type="text" maxlength="65" th:value="${paciente.nombre}" placeholder="nombre"/>
				</div>
			</div>
			<div class="row">
				<div  class="form-group col-md-3 col-sm-4">
					<label class="control-label" for="cip">CIP:</label>
					<input  class="form-control" id="cip" name="cip" type="text" maxlength="16" th:value="${paciente.cip}"/>
				</div>
				<div  class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="dni">DNI-NIE:</label>
					<input  class="form-control" id="dni" name="dni" type="text" maxlength="12" th:value="${paciente.dni}"/>
				</div>
				<div  class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="numeroSegSocial">NSS:</label>
					<input  class="form-control" id="numeroSegSocial" name="numeroSegSocial" type="text" maxlength="12" th:value="${paciente.numeroSegSocial}"/>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="fechaNacimiento">Fecha Nac.: <span id="pacienteEdad" th:text="|(${paciente.fechaNacimiento!=null ? baseModel.cache.getEdad(paciente.fechaNacimiento) : ''} años)|"></span></label>
					<input name="fechaNacimiento" class="form-control" id="fechaNacimiento" type="date"  th:value="${paciente.fechaNacimiento!=null ? #dates.format(paciente.fechaNacimiento, 'yyyy-MM-dd') : ''}" />
				</div>
				<div class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="sexo">Sexo:</label>
					<select name="sexo" class="form-control" id="sexo"  th:field="${paciente.sexo}" >
						<option value="1">VARÓN</option>
						<option value="6">MUJER</option>
						<option value="9">DESCONOCIDO</option>
					</select>
				</div>
			</div>
			<div class="row">
				<p style="margin-top:5px">DOMICILIO:</p>
				<div class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="domTipoVia">Tipo Vía:</label>
					<input name="domTipoVia" class="form-control capitaliza" id="domTipoVia" type="text" maxlength="5" th:value="${paciente.domTipoVia}" />
				</div>
				<div class="form-group col-md-4 col-sm-4">
					<label class="control-label" for="domNombreVia">Nombre de la Vía:</label>
					<input name="domNombreVia" class="form-control capitaliza" id="domNombreVia" type="text"  th:value="${paciente.domNombreVia}" />
				</div>
				<div class="form-group col-md-1 col-sm-1">
					<label class="control-label" for="domNumero">Número:</label>
					<input name="domNumero" class="form-control" id="domNumero" type="text" maxlength="4" th:value="${paciente.domNumero}" />
				</div>
				<div class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="domPisopuerta">Piso:</label>
					<input name="domPisopuerta" class="form-control capitaliza" id="domPisopuerta" type="text" maxlength="4"  th:value="${paciente.domPisopuerta}" />
				</div>
				<div class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="domOtros">Otros:</label>
					<input name="domOtros" class="form-control capitaliza" id="domOtros" type="text"  th:value="${paciente.domOtros}" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 col-sm-3">
					<label class="control-label " for="domTipoVia">Provincia Res.:</label>
					<select name="provinciaResidencia" class="form-control" id="provinciaResidencia"  th:field="${paciente.provinciaResidencia}" >
						<option th:each="provincia : ${baseModel.cache.provinciasCLM}" th:value="${provincia.provincia}" th:text="${provincia.deno}"></option>
					</select>
				</div>
				<div class="form-group col-md-4 col-sm-4">
					<label class="control-label" for="domTipoVia">Muncipio Res.:</label>
					<select name="municipioResidencia" class="form-control" id="municipioResidencia"  th:field="${paciente.municipioResidencia}" >
						<option th:if="${municipiosProvinciaResidencia} !=null " th:each="municipio : ${municipiosProvinciaResidencia}" th:value="${municipio.municipio}" th:text="${municipio.deno}"></option>
					</select>
				</div>
				<div class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="domCp">CP:</label>
					<input name="domCp" class="form-control" id="domCp" type="text"  th:value="${paciente.domCp}" maxlength="5" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2 col-sm-2">
					<label class="control-label" for="domTipoVia">Fallecido:</label>
					<select name="fallecido" class="form-control" id="fallecido"  th:field="${paciente.fallecido}" >
						<option value="0">NO</option>
						<option value="1">SI</option>
						<option value="9">NC</option>
					</select>
				</div>
				<div class="form-group col-md-3 col-sm-3">
					<label class="control-label " for="fechaNacimiento">Fecha Fallecimiento:</label>
					<input name="fallecidoFecha" class="form-control" id="fallecidoFecha" type="date"  th:value="${paciente.fallecidoFecha!=null ? #dates.format(paciente.fallecidoFecha, 'yyyy-MM-dd') : ''}" />
				</div>		
			</div>
			<div class="row">
				<div class="form-group col-md-3 col-sm-3">
					<label class="control-label" for="telefono">Teléfono:</label>
					<input name="telefono" class="form-control" id="telefono" type="text"  th:field="${paciente.telefono}" maxlength="12" />
				</div>
				<div class="form-group col-md-4 col-sm-4">
					<label class="control-label" for="email">Correo Electrónico:</label>
					<input name="email" class="form-control" id="email" type="text"  th:field="${paciente.email}" maxlength="80" />
				</div>
			</div>
			<div class="row">
				<p style="margin-top:15px"><b>CASOS:</b></p>
				<ul th:each="caso : ${paciente.casos}">
					<li> <a  th:href="|/${baseModel.baseApp}/casos/caso/edit/${caso.idCaso}|" th:text="|CASO ${caso.numCaso} - ${caso.codCie9mc} ${caso.codCie10} ${caso.literal}|"></a></li>
				</ul>
				<a class="btn btn-success" th:href="|/${baseModel.baseApp}/casos/caso/nuevo/${paciente.idPaciente}|">AÑADIR NUEVO CASO</a>
			</div>
			<div id="grupo-acciones-bajo" class="row">
				<div class="form-actions">
				  <button type="submit" class="btn btn-primary pull-right">GUARDAR CAMBIOS</button>
				  <!-- <button type="button" class="btn">Cancel</button> -->
				</div>
			</div>
		   </div> <!-- Fin de formulario contenido -->
		</form>
	 </div>
	</div> <!-- Fin contenido -->
</body>
</html>