<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title>PRE-ALTA DE PACIENTE</title>
<link rel="stylesheet" th:href="@{/bower_components/jquery.tablesorter/dist/css/jquery.tablesorter.pager.min.css}"/>
<link rel="stylesheet" th:href="@{/bower_components/jquery.tablesorter/dist/css/theme.blue.min.css}"/>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.widgets.min.js}"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery.tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js}"></script>
<script type="text/javascript" th:src="@{/js/rarasclm-fauxiliares.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
var routeBase = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';  

var imgEspera = '<img id="img-espera-num-paciente" style="width:18px;margin-left:10px" alt="Esperando..." src="/'+ contextApp  +'/img/espera.gif"></img>';

$(document).ready( function() {

	addMensanjesFuncionalidad();
	
	//Adaptacion de un ejemplo http://jsfiddle.net/Mottie/wty134u7/
	$('#posiblesPacientes').tablesorter({
		theme:'blue',
		widthFixed: true,
		 initWidgets: true,
		 widgets: ['zebra','resizable'],
		 widgetOptions: {
		      resizable_addLastColumn : true,
		    }
	}).tablesorterPager({
	    container: $(".pager"),
	    ajaxUrl: null,
// 	    ajaxProcessing: function(ajax) {
// 	        if (ajax && ajax.hasOwnProperty('data')) {
// 	            return [ajax.data, ajax.total_rows];
// 	        }
// 	    },
	    output: 'de {startRow} a {endRow} (TOTAL: {totalRows})',
	    updateArrows: true,
	    page: 0,
	    size: 10,
	    fixedHeight: true,
	    removeRows: false,
	    cssNext: '.next',
	    cssPrev: '.prev',
	    cssFirst: '.first',
	    cssLast: '.last',
	    cssGoto: '.gotoPage',
	    cssPageDisplay: '.pagedisplay',
	    cssPageSize: '.pagesize',
	    cssDisabled: 'disabled'

	});
	
	$.validator.addMethod("notNC",function(value,element) {
			return value!=9 && value!='' && value!=null ;
	});
	
	$("#form-nuevo-paciente-pre").validate({
		rules: {
			cip : {
				required:true
			},
			apellido01: {
				required:true
			},
			nombre:{
				required:true
			},
			fechaNacimiento:{
				required:true
			},
			sexo: {
				notNC:true
			}
		},
		messages: {
			cip: {
				required: "El CIP es obligatorio"
			},
			apellido01: {
				required: "El campo 1er apellido es obligatorio"	
				},
			nombre: {
				required: "El campo nombre es obligatorio"	
				},
			fechaNacimiento: {
				required:"La fecha de nacimiento es obligatoria"
			},
			sexo: {
				notNC:"El sexo es obligatorio"
			}
		},
		submitHandler: function(form) {
			validaCIP = new CIP($('#cip').val(),$('#apellido01').val(),$('#apellido02').val(),$('#fechaNacimiento').val(),$('#sexo').val());
			if(validaCIP.numErrores==0) {
				form.submit();
			} else {
				var mensajes = validaCIP.getErrores();
				var mensajesHTML = '<div class="alert alert-danger"><ul>';
				for(i=0;i<mensajes.length;i++) {
					mensajesHTML+="<li>"+ mensajes[i].deno +"</li>";
				}
				mensajesHTML+="</ul></div>";
				$('#errores-validacion').html(mensajesHTML);
			}
				
		},
		highlight: function(element) {
		        $(element).closest('.form-group').addClass('has-error');
		},
	 	unhighlight: function(element) {
		        $(element).closest('.form-group').removeClass('has-error');
		}
	});
	
	$("input").focusout( 
			function() {
				$(this).val($(this).val().toUpperCase());
				$('#nocoincidencias').hide();
		  	});
	
		
	$("#provinciaResidencia").change(function() {
		var provincia = $(this).val();
		var strHtml='<option value="99" select>DESCONOCIDO</option>\n'
		$('#municipioResidencia').html("<p>CARGANDO...</p>");
		$.ajax({
			url:'/'+ contextApp + '/localizaciones/municipios/deprovincia/'+provincia,
			dataType:'json',
		}).fail(function(jqXHR, textStatus, errorThrown)   {
	
		}).done(function(data, textStatus, jqXHR)   {
			for(i=0;i<data.length;i++) {
				strHtml += '<option value="' + data[i].idMunicipio +'">'+ data[i].deno + '</option>\n'
			}
		}).always(function() {
			$('#municipioResidencia').html(strHtml);
		})
	});
})

/*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
	  <div class="row">
		<form id="form-nuevo-paciente-pre" class="form corrige-ultimo-div" method='POST'>
			<div class="row">	
				<h4 class="col-md-9 col-sm-9" >Nuevo Paciente</h4>
			</div>
			<div id="formulario-contenido">
			
				<div class="row">
					<div  class="form-group col-md-5 col-sm-7">
						<label class="control-label" for="cip">CIP:</label>
						<input style="font-family:monospace;font-weight:bold" placeholder="CIP" class="form-control input-lg" id="cip" name="cip" type="text" maxlength="16" th:value="${nuevo.cip}"/>
					</div>
				</div>
				
				<div class="row">
					<div id="grupo-apellido01-paciente" class="form-group col-md-3 col-sm-3">
						<label class="control-label" for="apellido01">1er Apellido:</label>
						<input id="apellido01" class="form-control" name="apellido01" type="text" maxlength="65" th:value="${nuevo.apellido01}" placeholder="1er apellido"/>
					</div>
					<div id="grupo-apellido02-paciente" class="form-group col-md-3 col-sm-3">	
						<label class="control-label" for="apellido02">2o Apellido:</label>
						<input id="apellido02" class="form-control" name="apellido02" type="text" maxlength="65" th:value="${nuevo.apellido02}" placeholder="2o apellido"/>
					</div>
					<div id="grupo-nombre-paciente" class="form-group col-md-3 col-sm-3">		
						<label class="control-label" for="nombre">Nombre:</label>
						<input id="nombre" class="form-control" name="nombre" type="text" maxlength="65" th:value="${nuevo.nombre}" placeholder="nombre"/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-3 col-sm-4">
						<label class="control-label" for="sexo">Sexo:</label>
						<select id="sexo" name="sexo" class="form-control"  th:field="${nuevo.sexo}" >
							<option value="1">VARÓN</option>
							<option value="6">MUJER</option>
							<option value="9">DESCONOCIDO</option>
						</select>
					</div>
					<div class="form-group col-md-3 col-sm-3">
						<label class="control-label " for="fechaNacimiento">Fecha Nacimiento:</label>
						<input name="fechaNacimiento" class="form-control" id="fechaNacimiento"  type="date" th:field="${nuevo.fechaNacimiento}"/>
					</div>
				</div>		
	
				<div class="row">
					<div class="form-actions">
					  <button id="buscar" class="btn btn-primary">Buscar Coincidencias</button>
					</div>
				</div>		
		   </div> <!-- Fin de formulario contenido -->
		</form>
		<div id="errores-validacion" class="row" style="margin-top: 10px">
		 <div th:if="${nuevo.pacientes!=null and nuevo.pacientes.size()>0}">
				<div class="alert alert-warning" role="alert">
					<p>Se han encontrado entradas en el registro que pueden corresponder con el paciente que quiere dar de 
					alta. Revise las entradas que aparecen abajo. Si el paciente está dado de alta puede modificar un caso existente
					o asociarle uno nuevo</p>
				</div>
				<div id="paginador" class="pager"> 
			        <button class="first"><i class="glyphicon glyphicon-fast-backward"></i></button> 
			        <button class="prev"><i class="glyphicon glyphicon-step-backward"></i></button> 
			        <span class="pagedisplay"></span> <!-- this can be any element, including an input --> 
			        <button class="next"><i class="glyphicon glyphicon-step-forward"></i></button> 
			        <button class="last"><i class="glyphicon glyphicon-fast-forward"></i></button> 
			        <select class="pagesize" title="Select page size"> 
			            <option selected="selected" value="10" style="width:20px">10</option> 
			            <option value="20">20</option> 
			            <option value="30">30</option> 
			            <option value="40">40</option> 
			        </select>						  
				</div>
				<table id="posiblesPacientes" >
					<thead>
						<tr>
							<td>Num.</td>
							<td>CIP</td>
							<td>Apellido1</td>
							<td>Apellido2</td>
							<td>Nombre</td>
							<td>Sexo</td>
							<td>FecNac</td>
							<td>Municipio Res.</td>
							<td>Fallec.</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="paciente : ${nuevo.pacientes}">
							<td><b><a th:href="|/${baseModel.baseApp}/pacientes/paciente/edit/${paciente.idPaciente}|" th:text="${paciente.idPaciente}"></a></b></td>
							<td class="cip" th:text="${paciente.cip}"></td>
							<td th:text="${paciente.apellido01}"></td>
							<td th:text="${paciente.apellido02}"></td>
							<td th:text="${paciente.nombre}"></td>
							<td th:text="${baseModel.cache.getSexoLiteral(paciente.sexo)}"></td>
							<td th:if="${paciente.fechaNacimiento!=null}" th:text="${#dates.format(paciente.fechaNacimiento, 'dd/MM/yyyy')}"></td>
							<td th:if="${paciente.fechaNacimiento==null}">?</td>
							<td th:text="${baseModel.cache.getMunipioProvinciaDeno(paciente.municipioResidencia)}"></td>
							<td th:text="${baseModel.cache.getSiNoLiteral(paciente.fallecido)}"></td>
							<td><a class="btn btn-success btn-xs">Nuevo Caso</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- fin del div de respuesta si hay coincidencias -->
		</div><!-- fin del div #errores-validacion -->
		<div id="nocoincidencias" class="row" style="margin-top: 10px" th:if="${nuevo.pacientes!=null and nuevo.pacientes.size()==0}">
			<div class="alert alert-success" role="alert">
				<p>No se han encontrado pacientes, en la base de datos, con los mismos criterios.</p>
			</div>
			<a class="btn btn-success" th:href="|/${baseModel.baseApp}/pacientes/paciente/nuevo/posterior|">CREAR NUEVO PACIENTE</a>
		</div>
	 </div>
	</div> <!-- Fin contenido -->
</body>
</html>