@CHARSET "UTF-8";


label {
	padding-right: 5px !important;
}

/* body { */
/* 	position: relative; */
/* } */

select,textarea,input {
	margin-bottom: 2px !important;
}

input select {
	margin-bottom: 4px !important;
}

legend {
	margin-bottom:0px !important;
}

h5 {
	margin: 5px 0px;
}

/* .nav { */
/* 	margin-bottom: 5px !important; */
/* } */

.enfRelacionada {
	border: #9CF 1px solid;
	margin: 2px;
	padding: 2px;
}

.error-label {
	color: #F00 !important;
	display: block !important;
}

.errors {
	color: #F00 !important;
}

.notasHtmlShow {
	margin-top:25px;
	margin-bottom:25px;
	width: 700px;
	padding: 10px;
	border: #CCC 1px solid;
}


.labelModal {
	margin-top: 5px;
	margin-left: 40px;
}

#contenido {
	margin-left: 20px;
	margin-right: 20px;
	position: absolute;
	top: 70px;
}

#menuPath {
	padding: 2px 15px !important;
}

#enfermedadAutocomplete {
	margin-bottom:10px;
}

a.active {
	background-color:#FFF !important;
	color:#000 !important;
} 

a.active:HOVER {
	color:#F44 !important;
} 

li.rclmEnfermedadModal p{
	display: inline-block !important;
}

.ui-autocomplete, .ui-menu, .ui-menu-item {
    z-index: 9999 !important;
}

.enf-raras-input-modal {
	width: 500px !important;
	margin-left: 10px !important;
}

.update-asociacion {
	margin-bottom: 10px;
}

.borrar-asociacion {
	margin-bottom: 10px;
}

.listaEnfermedadAsociada {
	list-style: none;
}

.etiquetaEntrada {
	display: inline-block;
}

.etiquetaEntrada {
	font-size: 10px;
	font-style: italic;
}

.formAsocia {
	margin:2px;
}


/* #contenido { */
/* 	max-width: 1800px; */
/* } */



/**************/
/* BUSQUEDAS  */

#form-search-paciente .control-label {
	font-family: sans-serif;
	font-size: 11px;
	font-style: italic;
	font-weight: bolder;
	line-height: 10px;
	padding-top: 10px;
	text-align: right;
}


#form-edit-paciente {
	padding-top: 12px;
}

#form-edit-busqueda .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#tab-paciente-busqueda {
	padding-top: 10px;
}

#tabBusquedaIndex {
	padding-top: 15px;
}

#paginador .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#tabla-resultados-contenedor {
	overflow: auto;
	padding-left: 10px;
	margin-right: 10px;
}

#tabla-resultados {
	text-overflow: ellipsis; white-space: nowrap
}

#tabla-resultados tbody td {
	font-size: 12px;
}

#tabla-resultados tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
   
}

#tabs-busqueda-cabecera {
	margin-bottom: 0;	
}

#tabs-busqueda {
	background-color: #f5f5f5;
}

#tabs-busqueda-cabecera li.active a {
	background-color: #f5f5f5 !important;
}



/**************/
/* PACIENTE  */

#busquedaNumeroPaciente {
	font-weight: bolder;
}

#form-edit-paciente .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#form-edit-paciente .form-group {
	display:inline-block !important;
	margin-bottom: 5px !important;
}

#form-edit-paciente #cip {
	font-family: monospace;
	font-weight: bolder;
	font-size: 16px;
}

#formulario-contenido {
	
}

#formulario-contenido > div {
	background-color: #f5f5f5;
}

#formulario-contenido > div.row {
	padding-left: 15px;
}



/**************/
/* CASOS      */

#tabCasosIndex {
	padding-top: 10px;
}


#form-edit-caso .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#form-edit-caso .form-group {
	display:inline-block !important;
	margin-bottom: 5px !important;
}


#codificaciones-fuentes input {
	font-weight:bold; 
	font-family: monospace;
	font-size: 15px;
}

#cuadro-resumen-enfrara {

	
}

#cuadro-resumen-paciente,#caja-fuente-informacion {
	padding: 7px;
	background-color:#FAFAFA;

}

#cuadro-resumen-paciente p {
	margin:0px;
	display: inline-block;
}


#cuadro-resumen-enfrara p {
	margin:0px;
	display: inline-block;
}

#grupo-fuentes1 div,#grupo-fuentes2 div {
	width: 75px !important;
}

.modificado {
	background-color: #FFD !important;
}

#baseDiagnostico {
	font-weight: bold;
}

input[type=date]  {
	font-weight: bold;
}

