@CHARSET "UTF-8";

/*Overrides bootstrap*/

.pager {
	margin: 0px !important;
}

.tablesorter-blue {
	margin-top: 0px !important;
}

.control-label {
	font-family: sans-serif;
	font-size: 11px;
	font-style: italic;
	font-weight: bolder;
	line-height: 10px;
	padding-top: 10px;
	padding-bottom: 4px;
	padding-left: 0px ;
	padding-right: 5px;
	color:#666;
}

/* body { */
/* 	padding-top: 1000px; */
/* } */

#contenido {
	padding-top: 60px;
	margin-bottom: 50px;
}

select,textarea,input {
	margin-bottom: 2px !important;
}

input select {
	margin-bottom: 4px !important;
}

legend {
	margin-bottom:0px !important;
}

h5 {
	margin: 5px 0px;
}

.error {
	color: #C94442
}

/* .nav { */
/* 	margin-bottom: 5px !important; */
/* } */

.enfRelacionada {
	border: #9CF 1px solid;
	margin: 2px;
	padding: 2px;
}

.error-label {
	color: #F00 !important;
	display: block !important;
}

.errors {
	color: #F00 !important;
}

.notasHtmlShow {
	margin-top:25px;
	margin-bottom:25px;
	width: 700px;
	padding: 10px;
	border: #CCC 1px solid;
}


.labelModal {
	margin-top: 5px;
	margin-left: 40px;
}

.cip {
	font-family: monospace !important;
	font-weight: bold;
}

#menuPath {
	padding: 2px 15px !important;
}

#enfermedadAutocomplete {
	margin-bottom:10px;
}


a.active {
	text-decoration: none;
	color: #FFF !important;
	background-color: #337ab7;
} 

nav a:hover {
	text-decoration: none;
	color: #FFF !important;
	background-color: #555 !important;
} 

nav a.active:hover {
	text-decoration: none;
	color: #FFF !important;
	background-color: #556 !important;
} 

/* a.active:hover { */
/* 	color:#F44 !important; */
/* }  */

li.rclmEnfermedadModal p{
	display: inline-block !important;
}

.ui-autocomplete, .ui-menu, .ui-menu-item {
    z-index: 9999 !important;
}

.enf-raras-input-modal {
	width: 500px !important;
	margin-left: 10px !important;
}

.update-asociacion {
	margin-bottom: 10px;
}

.borrar-asociacion {
	margin-bottom: 10px;
}

.listaEnfermedadAsociada {
	list-style: none;
}

.etiquetaEntrada {
	display: inline-block;
}

.etiquetaEntrada {
	font-size: 10px;
	font-style: italic;
}

.formAsocia {
	margin:2px;
}


/**************/
/* INICIO     */

#info-usuario  {
	
}

#tabla-revisiones-contenedor {
	overflow: auto;
	padding-left: 10px;
	margin-right: 10px;
}

#tabla-revisiones {
	text-overflow: ellipsis; white-space: nowrap
}

#tabla-revisiones tbody td {
	font-size: 12px;
}

#tabla-revisiones tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
   
}

#paginador {
	background-color: #f5f5f5;
}


/***************/
/* OVERLOADS   */


.ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
}


/**************/
/* BUSQUEDAS  */



/* #form-edit-paciente { */
/* 	padding-top: 12px; */
/* } */

#form-edit-busqueda .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#tab-paciente-busqueda {
	padding-top: 10px;
}

#tab-paciente-resultados {
	padding-top: 10px;
	padding-bottom: 5px;
}


#tabBusquedaIndex {
	padding-top: 0px;
}

#paginador .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#tabla-resultados-contenedor {
	/*overflow: auto;*/
	padding-left: 10px;
	margin-right: 10px;
}

#tabla-resultados {
	text-overflow: ellipsis; white-space: nowrap
}

#tabla-resultados tbody td {
	font-size: 12px;
}

#tabla-resultados tr.hover {
   cursor: pointer;
   /* whatever other hover styles you want */
   
}

#tabs-busqueda-cabecera {
	margin-bottom: 0;	
}

#tabs-busqueda {
	background-color: #f5f5f5;
}

#tabs-busqueda-cabecera li.active a {
	background-color: #f5f5f5 !important;
}

/* #grupo-acciones-bajo { */
/* 	padding-top: 30px; */
/* 	padding-bottom: 10px; */
/* } */



/**************/
/* PACIENTE  */


#busquedaNumeroPaciente {
	font-weight: bolder;
}
#form-edit-paciente .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#form-edit-paciente .form-group {
	display:inline-block !important;
	margin-bottom: 5px !important;
}

#form-edit-paciente #cip {
	font-family: monospace;
	font-weight: bolder;
	font-size: 16px;
}

#formulario-contenido {
	
}

#formulario-contenido > div {
	background-color: #f5f5f5;
}

#formulario-contenido > div.row {
	padding-left: 15px;
}



/**************/
/* CASO       */

#enfermedad-rara-input-group {
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

#tabCasosIndex {
	padding-top: 10px;
}


#form-edit-caso .control-label {
    display: block;
    float: none;
    margin: 0;
    font-size: 12px;
    font-style: italic;
}

#form-edit-caso .form-group {
	display:inline-block !important;
	margin-bottom: 5px !important;
}

#codificaciones-fuentes {
	padding-bottom: 10px !important;
	padding-top: 0px !important;
}

#codificaciones-fuentes input {
	font-weight:bold; 
	font-family: monospace;
	font-size: 15px;
}


#cuadro-resumen-paciente {
	padding-top: 15px;
	padding-botton: 15px;
	margin-bottom: 15px;
}


#caja-fuente-informacion {
	padding-top: 0px;
	padding-bottom: 7px;
}

#cuadro-resumen-paciente p {
	margin:0px;
	display: inline-block;
}


#cuadro-resumen-enfrara p {
	margin:0px;
	display: inline-block;
}

#grupo-fuentes1 div,#grupo-fuentes2 div {
	width: 75px !important;
}

.modificado {
	background-color: #FFD !important;
}

#baseDiagnostico {
	font-weight: bold;
}

input[type=date]  {
	font-weight: bold;
}

/**************/
/* PACIENTE  */

#busquedaRara {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f5f5f5;	
}

#botonesNavegacion {
	margin-top: 10px;
}


/**************/
/* ADMIN      */


.submenu-admin li{
	display: inline-block;
}

.submenu-admin li a {
	text-decoration: none;
	padding: 7px;
	color: #555;
	background-color: #DDD;
}

.submenu-admin li a.active {
	text-decoration: none;
	color: #FFF;
	background-color: #337ab7;
}

.submenu-admin li a.active:hover {
	background-color: #556 !important;
}


.submenu-admin li a:hover {
	background-color: #555 !important;
	color: #FFF;
}


/**********************/
/* NUEVO PACIENTE     */


#posiblesPacientes tbody td {
	font-size: 12px;
}

/**********************/
/* ADMIN  USUARIOS    */

#formulario-usuario-nuevo div{
	background-color: #f5f5f5;
}

#formulario-usuario-nuevo div.row:last-child {
	padding: 10px;
}

.barra-admin {
	padding: 10px;
}

/****************************/
/* TODOS LOS FORMULARIOS    */

form div.row:last-child{
	padding-top: 30px;
	padding-bottom: 20px;
}

form div.row:last-child button{
	margin-right: 10px;
}


/****************************/
/*ADMIN ENFERMEDADES        */

#tabla-enfermedades tbody td {
	font-size: 12px;
	padding: 4px !important;
}

/****************************/
/*USUARIO                   */
#historicoRevisiones tbody td {
	font-size: 12px;
	padding: 4px !important;
}


