<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/rarasClmLayout">
<head>

</head>
<body>
	<div id="contenido"  layout:fragment="content">
		<div id="info-usuario" class="row offset1 pull-right">
			<table class="span12 ">
				<tr><td class="text-right span2"><strong>Usuario:</strong></td><td th:text="${userCLM.username}"></td></tr>
				<tr><td class="text-right span2"><strong>Nombre:</strong></td><td th:text="|${userCLM.apellido01} ${userCLM.apellido02}, ${userCLM.nombre}|"></td></tr>
				<tr><td class="text-right span2"><strong>Último acceso:</strong></td><td th:text="${#dates.format(userCLM.ultimoAcceso,'dd/MMM/yyyy')}"></td></tr>
			</table>
		</div>
	</div>
</body>
</html>