<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/rarasClmLayout">
<head>

</head>
<body>
	<div id="contenido"  layout:fragment="content">
	<div class="">
		<div id="info-usuario" class="row">
		 	<div class="col-md-8">
				<table class="table table-condensed">
			  		<thead>
				  		<tr>
				  			<td></td>
				  			<td></td>
				  			<td></td>
				  			<td></td>
				  			<td></td>
				  		</tr>
			  		</thead>
			  		<tbody>
						<tr><td class="text-right"><strong>Usuario: &nbsp;</strong></td><td th:text="| ${userCLM.username}|"></td><td><a href='regenerapass'>Cambiar Contraseña</a></td></tr>
						<tr><td class="text-right"><strong>Nombre: &nbsp;</strong></td><td th:text="| ${userCLM.apellido01} ${userCLM.apellido02}, ${userCLM.nombre}|"></td></tr>
						<tr><td class="text-right"><strong>Último acceso: &nbsp;</strong></td><td th:if="${userCLM.ultimoAcceso}!=null" th:text="| ${#dates.format(userCLM.ultimoAcceso,'dd/MM/yyyy  HH:mm')}|"></td></tr>
						<tr><td class="text-right"><strong>Puesto: &nbsp;</strong></td><td th:text="| ${userCLM.puesto}|"></td></tr>
						<tr><td class="text-right"><strong>Sección: &nbsp;</strong></td><td th:text="| ${userCLM.seccion.deno}|"></td></tr>
			  		</tbody>
					</table>
				</div>
			</div>
		</div>
	<div>
		<button class="btn btn-primary">Últimas Revisiones</button>
	</div>
   </div>
</body>
</html>