<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<title>EDITAR enfRaras</title>
<script type="text/javascript" th:src="@{/js/rarasclm-fauxiliares.js}"></script>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var routeBase  = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';  

$(document)
.ready(
function() {
	
	addMensanjesFuncionalidad();

	if (CKEDITOR.env.ie && CKEDITOR.env.version < 9)
		CKEDITOR.tools.enableHtml5Elements(document);

	CKEDITOR.replace(editorEnfRara);
	CKEDITOR.config.height = 250;
	CKEDITOR.config.width = 'auto';

});

/*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
	 <div class="row">
	 	<a th:href="|/${baseModel.baseApp}/enfermedad/enfrara|" style="margin-right:10px;" class="pull-right btn btn-success">Buscar otra Enfermedad</a>
		<h4 class="col-md-12 col-sm-12" th:text="|${enfermedadRara.enfermedadRaraId} - ${enfermedadRara.literal}|"></h4>
	</div>
	<div class="row">
		<form id="form-notas-enfRara" method="POST">
			<input id="enfermedadRaraId" name="enfermedadRaraId" type="hidden" th:value="${enfermedadRara.enfermedadRaraId}"></input>
			<textarea id="editorEnfRara" th:field="${enfermedadRara.notas}"></textarea>
			<input style="margin-top:20px" type="submit" class="btn btn-primary pull-right" value="GUARDAR CAMBIOS"></input>
		</form>
	</div>
  </div>
</body>
</html>