<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/rarasClmLayout">
<head>
	<title>Módulo de codificación de Enfermedades raras</title>
<!--<script type="text/javascript">
		var enfermedades;
		var enfermedadesLiterales;
		$(document).ready(
			function() {
					$('.dropdown-toggle').dropdown();	
					$.ajax({
						  dataType: "json",
						  url: "http://localhost:8080/rarasclm/enfermedades/cie9mc/json",
						  contentType: "application/json; charset=utf-8",
						  success: function(data){
							  enfermedades = data;
							  enfermedadesLiterales = $.map(enfermedades, function(v)
																			{
																				return v.cie9Id + ' ' + v.literal;	
																			});
							  $("#enfermedadAutocomplete").autocomplete({
								    source: enfermedadesLiterales,
								    search: function(event,ui)
									  		{
										  		
									  		},
								    		minLength: 3
										});
							}
					});			
			});
	</script> -->
</head>
<body>
	<div id="contenido"  layout:fragment="content">
		<div class="row">
			<h3 class="span10 offset1">
				Módulo de Enfermedades:
			</h3>
		</div>
		<div class="span10 offset1">
			<ul th:each="itemMenu : ${menuModel.itemsMenu}">
				<li><a th:text="${itemMenu.deno}" th:href="@{|/${itemMenu.id}|}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>