<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/rarasClmLayout">
<head>

</head>
<body>
	<div id="contenido"  layout:fragment="content">
		<div class="row offset1">
			<h3>!!!!!!!!!!!!!INICIO</h3>
			<p th:text="${userCLM.username}"></p>
			<p th:text="|${userCLM.apellido01} ${userCLM.apellido02}, ${userCLM.nombre}|"></p>
			<p th:text="${#dates.format(userCLM.ultimoAcceso, 'dd/MM/YYYY HH:mm')}"></p>
		</div>
	</div>
</body>
</html>