<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/rarasClmLayout">
<head>
<link rel="stylesheet" href="bower_components/tablesorter/dist/css/jquery.tablesorter.pager.css"/>
<link rel="stylesheet" href="bower_components/tablesorter/dist/css/theme.blue.min.css"/>
<script type="text/javascript" src="bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>
<script type="text/javascript" src="bower_components/tablesorter/dist/js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" th:if="${baseModel.mensaje}!=null" th:inline="javascript">
/*<![CDATA[*/

var tipoMensaje = /*[[${baseModel.mensaje.tipo}]]*/null;
var textoMensaje = /*[[${baseModel.mensaje.mensaje}]]*/null;

/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">"src/main/webapp/bower_components/tablesorter/dist/css/jquery.tablesorter.pager.css"
/*<![CDATA[*/
           
	var routeBase  = /*[[${route.baseUrl}]]*/'';
	var contextApp = /*[[${baseModel.baseApp}]]*/'';
	var enfermedades;
	var enfermedadesLiterales;
	
	function mensajeError(mensaje) {
		$('#mensajes').html('<div class="alert alert-error"><p>'+mensaje+'</p></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button></div>');
		$('#mensajes').modal('show');
	}

	function mensajeSuccess(mensaje) {
		$('#mensajes').html('<div class="alert alert-success"><p>'+mensaje+'</p></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button></div>');
		$('#mensajes').modal('show');
	}
	
	$(document)
	.ready(function() {	
		
		////////////////////////////////
		//Manejo de mensajes de retorno
		////////////////////////////////
		
		var showModal = false;
		
		$('#mensajes').on('hidden', function () {
			$.ajax({
				url: '/'+contextApp+'/resetMensaje',
				type: 'POST'
			})
		});
		
		if(typeof tipoMensaje === 'undefined') {
			showModal = false;
		} else if(tipoMensaje>0) {
			mensajeSuccess(textoMensaje);
			showModal=true;
		} else if(tipoMensaje<0) {
			mensajeError(textoMensaje)
			showModal=true;
		} 
		
		if(showModal) {
			$('#mensajes').modal('show');
		}
		
		//////////////////////////
		// TABS
		//////////////////////////
		$
		
		
		
		
		//////////////////////////
		// TABLAS DE RESULTADOS
		//////////////////////////
		
		//Adaptacion de un ejemplo http://jsfiddle.net/Mottie/wty134u7/
		$('#tabla-revisiones').tablesorter({
			theme:'blue',
			widthFixed: true,
			 initWidgets: true,
			 widgets: ['zebra','resizable'],
			 widgetOptions: {
			      resizable_addLastColumn : true,
			    }
		}).tablesorterPager({
		    container: $(".pager"),
		    ajaxUrl: null,
		    output: 'de {startRow} a {endRow} (TOTAL: {totalRows})',
		    updateArrows: true,
		    page: 0,
		    size: 10,
		    fixedHeight: true,
		    removeRows: false,
		    cssNext: '.next',
		    cssPrev: '.prev',
		    cssFirst: '.first',
		    cssLast: '.last',
		    cssGoto: '.gotoPage',
		    cssPageDisplay: '.pagedisplay',
		    cssPageSize: '.pagesize',
		    cssDisabled: 'disabled'

		});


	});

/*]]>*/	
</script>

</head>
<body>
	<div id="contenido"  layout:fragment="content">
		<div class="offset1">
		<div id="tabla-revisiones-contenedor">
			<table id="tabla-revisiones">
					<thead>
						<tr>
							<td>Caso</td>
							<td>Apellido 1o</td>
							<td>Apellido 2o</td>
							<td>Nombre</td>
							<td>Base DTCO</td>
							<td>Literal</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="revision : ${revisionesPorHacer}">
							<td th:text="${revision.caso.idCaso}"></td>
							<td th:text="${revision.caso.paciente.apellido01}"></td>
							<td th:text="${revision.caso.paciente.apellido02}"></td>
							<td th:text="${revision.caso.paciente.nombre}"></td>
							<td th:text="${revision.caso.baseDiagnostico}"></td>
							<td th:text="${revision.caso.literal}"></td>
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
	 </div>	
</body>
</html>