<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8"/>
<style>
	#zona-mensajes {
		padding-top:20px;
		padding-left:10px;
		padding-right:10px;
		height: 80px;
	}
	
	.error {
		color: #F00;
	}
	
	.msg {
		text-align: center;
	}
	
	#titulo {
		padding-top: 10px;
	}
	
	#subtitulo {
		text-align: center;
	}
	
	#estado {
		padding: 15px;
	}
	
</style>

<link  href="bower_components/normalize-css/normalize.css" rel="stylesheet" />
<link  href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link  href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js" ></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


</head>
<script type="text/javascript" th:if="${baseModel.mensaje}!=null" th:inline="javascript">
/*<![CDATA[*/    
      
/*
	Tipo de Mensaje: OK=1,WARNING=0,ERROR=-1
*/
var tipoMensaje = /*[[${baseModel.mensaje.tipo}]]*/null;
var textoMensaje = /*[[${baseModel.mensaje.mensaje}]]*/null;
/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
////////////////////////////////
//Manejo de mensajes de retorno
////////////////////////////////

var routeBase  = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';     


function mensajeError(mensaje) {
	$('#mensaje').parent().addClass('alert-danger');
	$('#mensaje').parent().removeClass('alert-success');
	$('#mensaje').parent().removeClass('alert-warning');
	$('#mensaje').html('<p>'+mensaje+'</p>');
	$('#mensaje-modal').modal('show');
}

function mensajeWarning(mensaje) {
	$('#mensaje').parent().addClass('alert-warning');
	$('#mensaje').parent().removeClass('alert-success');
	$('#mensaje').parent().removeClass('alert-error');
	$('#mensaje').html('<p>'+mensaje+'</p>');
	$('#mensaje-modal').modal('show');
}

function mensajeSuccess(mensaje) {
	$('#mensaje').parent().addClass('alert-success');
	$('#mensaje').parent().removeClass('alert-warning');
	$('#mensaje').parent().removeClass('alert-error');
	$('#mensaje').html('<p>'+mensaje+'</p>');
	$('#mensaje-modal').modal('show');
}



function showMensaje(mensaje) {
	if(mensaje.tipo>0) {
		mensajeSuccess(mensaje.mensaje);
	} else if(mensaje.tipo<0) {
		mensajeError(mensaje.mensaje)
	} else if(mensaje.tipo==0) {
		mensajeWarning(mensaje.mensaje)
	}
}

function showRespuesta(mensaje) {
	if(mensaje.success) {
		mensajeSuccess(mensaje.mensaje);
	} else if(mensaje.error) {
		mensajeError(mensaje.mensaje)
	} else if(mensaje.warning) {
		mensajeWarning(mensaje.mensaje)
	}
}

function addMensanjesFuncionalidad(configuracion) {
	
	//Borra el mensaje de la sesión del usuario para
	//que no se muestre más cuando se cierra el mensaje
	//modal
	$('#mensaje-modal').on('hidden.bs.modal', function () {
		$.ajax({
			url: '/'+contextApp+'/resetMensaje',
			method: 'POST'
		}).always(function() {
			if(typeof configuracion !== "undefined" && typeof configuracion.recarga !== "undefined" && configuracion.recarga )
				location.reload();
		});
	});
	
	if(typeof tipoMensaje !== "undefined"  && typeof textoMensaje !== "undefined") {
		if(tipoMensaje>0) {
			mensajeSuccess(textoMensaje);
		} else if(tipoMensaje<0) {
			mensajeError(textoMensaje)
		} else if(tipoMensaje==0) {
			mensajeWarning(textoMensaje) 
		}
	}
}
/*]]>*/
</script>
<script>
/*<![CDATA[*/  
	$(document).ready(function() {
		
		addMensanjesFuncionalidad();
		
		$(".password-input").on('keyup', function(event) {
			
			inputId = $(this).attr("id");
			
			if(inputId==="password2") {
				$("#mensaje-password").parent().removeClass("bg-info");
				$("#mensaje-password").parent().addClass("bg-danger");
				if($("#password1").val()!==$("#password2").val()) {
					$("#mensaje-password").text("¡Las contraseñas no coinciden!");
					} else if($("#password2").val().length<6) {
						$("#mensaje-password").text("Las contraseñas coinciden pero tienen que tener, al menos, 6 caracteres.");
				    } else {
						$("#mensaje-password").parent().removeClass("bg-danger");
						$("#mensaje-password").parent().addClass("bg-success");
						$("#mensaje-password").text("Las contraseñas coinciden y son válidas.");
				    	$("#regeneraForm").append('<div class="row"><input id="btn-envia" type="submit" class="btn btn-primary pull-right" value="Cambiar Contraseña"></input></div>')
				    }					
				}
			
			if(inputId==="password1") {
				$("#mensaje-password").parent().removeClass("bg-danger");
				$("#mensaje-password").parent().addClass("bg-info");
				$("#mensaje-password").text("La contraseña tiene que tener, al menos, 6 caracteres.");
			}
		})
	});
/*]]>*/
</script>
<body>
	<div id="mensaje-modal" class="modal fade" tabindex="-1" role="dialog">
		 <div class="modal-dialog" role="document">
		   <div class="modal-content alert">
			    <div id="mensaje" class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
				</div>
		   </div>
		</div>
	</div>
	
	<div id="login-box" class="container">
		<div class="row">
			<img width="80px" class="col-md-2" src="img/logoclm.png" alt="logo de la junta de Castilla-La Mancha"></img>
			<h3 id="titulo" class="col-md-10 text-center">Registro de Enfermedades Raras de Castilla-La Mancha</h3>
		</div>	
		<div id="zona-mensajes" class="row">
			<div>
				<h4 id="subtitulo">Escriba una contraseña nueva.</h4>
			</div>
		</div>
		<div class="row">
			
			<form id='regeneraForm' class="col-md-offset-3 col-md-5 col-sm-offset-3 col-md-6" method='POST'>
			  <table class="table">
				<tr>
					<td>Nueva Contraseña:</td>
					<td><input class="form-control password-input" id="password1" type='password' name="password1"></input></td>
				</tr>
				<tr>
					<td>Repita la Contraseña:</td>
					<td><input class="form-control password-input" id="password2" type='password' name='password2'></input></td>
				</tr>
			  </table>
			</form>
			<div id="estado" class="col-md-3 bg-info">
				<p id="mensaje-password" class="">La contraseña tiene que tener, al menos, 6 caracteres.</p>
			</div>
		</div>
	</div>

</body>
</html>