<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hbnrarasclm">
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">alberto01</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.213:3306/RARASCLM</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    	<mapping package="es.jclm.cs.rarasclm.entities"/>
    	<mapping class="es.jclm.cs.rarasclm.entities.Caso"/>
    	<mapping class="es.jclm.cs.rarasclm.entities.Paciente"/>
    </session-factory>
</hibernate-configuration>