<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
 <div class="navbar-inner">
  <div class="container">
    <ul  class="nav navbar-nav" th:each="modulo : ${baseModel.menuModel.modulosMenu}">
     <li th:if="${modulo.id=='inicio'}">
     	<a th:if="${modulo.id}==${route.modulo}" class="active" th:href="@{|/|}" th:text="${modulo.deno}"></a>
		<a th:if="${modulo.id}!=${route.modulo}" th:href="@{|/|}" th:text="${modulo.deno}"></a>	
	  </li>
	  <li th:if="${modulo.id!='inicio' and modulo.id!='admin'}">
		<a th:if="${modulo.id}==${route.modulo}" class="active" th:href="@{|/${modulo.id}|}" th:text="${modulo.deno}"></a>
		<a th:if="${modulo.id}!=${route.modulo}" th:href="@{|/${modulo.id}|}" th:text="${modulo.deno}"></a>	
	   </li>
	   <li th:if="${modulo.id!='inicio' and modulo.id=='admin' and userCLM.admin}">
		<a th:if="${modulo.id}==${route.modulo}" class="active" th:href="@{|/${modulo.id}|}" th:text="${modulo.deno}"></a>
		<a th:if="${modulo.id}!=${route.modulo}" th:href="@{|/${modulo.id}|}" th:text="${modulo.deno}"></a>	
	   </li>
	</ul>
	<ul class="nav navbar-brand pull-right">
	  <li>
		<a href="#">Usuario</a>
	  </li>
	</ul>
   </div>
 </div>
</nav>