<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/rarasClmLayout">
<head>
<link rel="stylesheet" href="bower_components/jquery.tablesorter/dist/css/jquery.tablesorter.pager.min.css"/>
<link rel="stylesheet" href="bower_components/jquery.tablesorter/dist/css/theme.blue.min.css"/>
<script type="text/javascript" src="bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="bower_components/jquery.tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>
<script type="text/javascript" src="bower_components/jquery.tablesorter/dist/js/extras/jquery.tablesorter.pager.min.js"></script>
<script type="text/javascript" th:inline="javascript" >
/*<![CDATA[*/
var routeBase  = /*[[${route.baseUrl}]]*/'';
var contextApp = /*[[${baseModel.baseApp}]]*/'';
var municipio = /*[[${busqueda.municipio}]]*/'';
var provincia = /*[[${busqueda.provincia}]]*/'';
var enfermedades;
var enfermedadesLiterales;


$(document)
.ready(function() {	
	
	addMensanjesFuncionalidad();
	
	///////////////////////////////////
	//Cambio localidades de Provincia
	///////////////////////////////////
	
	function cambiaProvincia(provincia) {
		
		var isOKForm = false;
		var strHtml='<option value="99999" select>DESCONOCIDO</option>\n';
		$.ajax({
			url:'/'+ contextApp + '/localizaciones/municipios/deprovincia/'+provincia,
			dataType:'json',
		}).fail(function(jqXHR, textStatus, errorThrown)   {
	
		}).done(function(data, textStatus, jqXHR)   {
			strHtml = '<option value="99999">DESCONOCIDO</option>';
			for(i=0;i<data.length;i++) {
				strHtml += '<option value="' + data[i].municipio +'">'+ data[i].deno + '</option>\n'
			}
			$('#busquedaMunicipio').html(strHtml);
			if(municipio!=null && municipio!="" && municipio!="99999") {
				$('#busquedaMunicipio option[value='+ municipio +']').attr('selected','selected');
			}
		}).always(function() {
			
		});
	}

	///////////////////////////////
	// LÓGICA TABLA DE RESULTADOS
	///////////////////////////////

	var pulsadoBotonRevision = false;
	
	function addRevisionCaso(idCaso) {
		//devuelve un es.jclm.cs.rarasclm.entities.AccionResultado
		$.ajax({
			dataType : 'json',
			method : 'POST',
			url :   '/'+ contextApp + '/usuario/addrevision/' + idCaso,
			//contentType : "application/json; charset=utf-8" 
			}).done( function(data) {
				if(data.success)
					mensajeSuccess(data.mensaje);
				else if(data.warning)
					mensajeWarning(data.mensaje);
				else if(data.error)
					mensajeError(data.mensaje);
			}).fail( function() {
				mensajeError("Error al enviar la petición al servidor");
			}).always( function() {
				pulsadoBotonRevision=false;
			});
	}
	
	$('td.btn-caso-revision button').click(
		function() {
			pulsadoBotonRevision = true;
			addRevisionCaso($(this).attr('data-idCaso'));
		}		
	);
	
	//Manejo de link para la fila entera
	$('tr.clickable').click( function(event) {
		if(!pulsadoBotonRevision) {
			window.location = $(this).find('a').attr('href');
		} else {
			pulsadoBotonRevision=false;
		}
	}).hover( function() {
	    $(this).toggleClass('hover');
	});
	
	
	//Adaptacion de un ejemplo http://jsfiddle.net/Mottie/wty134u7/
	$('#tabla-resultados').tablesorter({
		theme:'blue',
		widthFixed: true,
		 initWidgets: true,
		 widgets: ['zebra','resizable'],
		 widgetOptions: {
		      resizable_addLastColumn : true,
		    }
	}).tablesorterPager({
	    container: $(".pager"),
	    ajaxUrl: null,
// 	    ajaxProcessing: function(ajax) {
// 	        if (ajax && ajax.hasOwnProperty('data')) {
// 	            return [ajax.data, ajax.total_rows];
// 	        }
// 	    },
	    output: 'de {startRow} a {endRow} (TOTAL: {totalRows})',
	    updateArrows: true,
	    page: 0,
	    size: 10,
	    fixedHeight: true,
	    removeRows: false,
	    cssNext: '.next',
	    cssPrev: '.prev',
	    cssFirst: '.first',
	    cssLast: '.last',
	    cssGoto: '.gotoPage',
	    cssPageDisplay: '.pagedisplay',
	    cssPageSize: '.pagesize',
	    cssDisabled: 'disabled'

	});
	
	
	/////////////////////////////
	// LÓGICA DEL FORMULARIO
	/////////////////////////////
	
	
		//Si el modelo de búsqueda tiene especificada una provincia o municipio
		//los carga el el formulario
		if(municipio!=null && municipio!="" && municipio!="99999") {
			cambiaProvincia(municipio.substring(0, 2));
	   	} else if(provincia!=null && provincia!="" && provincia!="99") {
			cambiaProvincia(provincia);
			};
			
		//Evitar submit al pulsar enter
		$("form").bind("keypress", function (e) {
		    if (e.keyCode == 13) {
		        return false;
		    }
		});
		
			
		//borrar los campos ocultos 
		$("#autocompleteCie9MC").on('focusout', function(e) {
			valor = $("#autocompleteCie9MC").val();
			valor = valor.replace(/\s+/g,'');
			if(valor==='') {
				$("#cie9MC").val('');
			} 
		});
		
		$("#autocompleteEnfermedadRaraCLM").on('focusout', function(e) {
			valor = $("#autocompleteEnfermedadRaraCLM").val();
			valor = valor.replace(/\s+/g,'');
			if(valor==='') {
				$("#enfermedadRaraCLM").val('');
			} 
		});
		
		$("#autocompleteCie10").on('focusout', function(e) {
			valor = $("#autocompleteCie10").val();
			valor = valor.replace(/\s+/g,'');
			if(valor==='') {
				$("#cie10").val('');
			} 
		});
		
		//evita un submit cuando no se ha validado o hecho
		//click en el botón de envio
		$("#form-edit-paciente").on('submit',function(e) {
			if(!isOkForm)
		    	e.preventDefault();
		  });
	
		//Evita mostar el valor por defecto del modelo
		if($("#anioNacimiento").val()==0) {
			$("#anioNacimiento").val("");
		}
		
		//muestra el valor al campo enfRara para envio del código de enfermedad
		if(($("#enfermedadRaraCLM").val()!=="") && ($("#enfermedadRaraCLM").val()!=="9999999999")) {
		   codEnf = $("#enfermedadRaraCLM").val();
		   $.ajax({
			  url:  "/" + contextApp + "/enfermedad/enfrara/json/"+codEnf,
			  dataType: 'json',
			  type: 'GET'
		   }).done(function(data,textStatus,jqXHR) {
			   $("#autocompleteEnfermedadRaraCLM").val(data.enfermedadRaraId + " " + data.literal);
		   }).fail(function(jqXHR, textStatus, errorThrown) {
			 
		   }).always(function(dataJq,errorOrJqXHR) {

		   });	   
		}
		
		//muestra el valor al campo cie9mc para envio del código de enfermedad
		if(($("#cie9MC").val()!=="")) {
			  codEnf = $("#cie9MC").val();
			   $.ajax({
				  url:  "/" + contextApp + "/enfermedad/cie9mc/json/"+codEnf,
				  dataType: 'json',
				  type: 'GET'
			   }).done(function(data,textStatus,jqXHR) {
				   $("#autocompleteCie9MC").val(data.cie9Id + " " + data.literal);
			   }).fail(function(jqXHR, textStatus, errorThrown) {
				 	
			   }).always(function(dataJq,errorOrJqXHR) {
					
			   });	   
		}
		
		//muestra el valor al campo cie10 para envio del código de enfermedad
		if(($("#cie10").val()!=="")) {
			  codEnf = $("#cie10").val();
			   $.ajax({
				  url:  "/" + contextApp + "/enfermedad/cie10/json/"+codEnf,
				  dataType: 'json',
				  type: 'GET'
			   }).done(function(data,textStatus,jqXHR) {
				   $("#autocompleteCie10").val(data.cie10Id + " " + data.literal);
			   }).fail(function(jqXHR, textStatus, errorThrown) {
				 
			   }).always(function(dataJq,errorOrJqXHR) {

			   });	   
		}
		
		//Cuando pierde el foco pasar a mayúsculas
		$("input").focusout( 
			function() {
				$(this).val($(this).val().toUpperCase());
		  	});
		
		$("#img-espera-num-paciente").css('display','none');
	
		$("#form-search-paciente").on('submit',function(e) {
			if(!isOkForm)
		    	e.preventDefault();
		  });
			
		$('.btn').on('click', function(){
			isOkForm=false;
		});
		
		$('#submitBuscarPacientes').on('click', function(){
			isOkForm=true;
		});
			
		$("#borrarFormulario").on('click', function() {
			$("input").val('');
			$("#busquedaMunicipio").val("99999");
			$("#busquedaprovincia").val("99");
			$("#baseDiagnostico").val("");
			$("#cie10").val("");
			$("#cie9MC").val("");
			$("#autocompleteEnfermedadRaraCLM").val("");
			$("#autocompleteCie9MC").val("");
			$("#autocompleteCie10").val("");
		});
		
		$("#busquedaProvincia").change(function() {
			var provincia = $(this).val();
			cambiaProvincia(provincia);
		});
	

	 	//Autocompletado de enfRaraCLM
		$.ajax({
			dataType : "json",
			url :   "/" + contextApp + "/enfermedad/enfrara/json",
			contentType : "application/json; charset=utf-8" 
			 }).done( function(data) {
				enfermedades = data;
				enfermedadesLiterales = $.map(enfermedades,
						function(v) {
										return {
													label:v.cod + ' ' + v.literal,
													value:v.cod
												};
									});
				$("#autocompleteEnfermedadRaraCLM").autocomplete({
					source : enfermedadesLiterales,
					search : function(event, ui) {

					},
					select : function(event, ui) {
						event.preventDefault();
						$("#autocompleteEnfermedadRaraCLM").val(ui.item.label);
						$("#enfermedadRaraCLM").val(ui.item.value);
					},
					minLength : 3
				});
			});
	   
	   //Autocompletado de CIE9MC
		$.ajax({
			dataType : "json",
			url :   "/" + contextApp + "/enfermedad/cie9mc/json",
			contentType : "application/json; charset=utf-8" 
			 }).done( function(data) {
				enfermedades = data;
				enfermedadesLiterales = $.map(enfermedades,
						function(v) {
										return {
													label:v.cod + ' ' + v.literal,
													value:v.cod
												};
									});
				$("#autocompleteCie9MC").autocomplete({
					source : enfermedadesLiterales,
					search : function(event, ui) {

					},
					select : function(event, ui) {
						event.preventDefault();
						$("#autocompleteCie9MC").val(ui.item.label);
						$("#cie9MC").val(ui.item.value);
					},
					focus: function(event, ui) {
				        event.preventDefault();
				        $("#autocompleteCie9MC").val(ui.item.label);
				    },
					minLength : 3
				});
			});
	   
	   
	   //Autocompletado de CIE10
		$.ajax({
			dataType : "json",
			url :   "/" + contextApp + "/enfermedad/cie10/json",
			contentType : "application/json; charset=utf-8" 
			 }).done( function(data) {
				enfermedades = data;
				enfermedadesLiterales = $.map(enfermedades,
						function(v) {
										return {
													label:v.cod + ' ' + v.literal,
													value:v.cod
												};
									});
				$("#autocompleteCie10").autocomplete({
					source : enfermedadesLiterales,
					search : function(event, ui) {

					},
					select : function(event, ui) {
						event.preventDefault();
						$("#autocompleteCie10").val(ui.item.label);
						$("#cie10").val(ui.item.value);
					},
					minLength : 3
				});
			});
	   
});
/*]]>*/
</script>
</head>
<body>
	<div id="contenido" layout:fragment="content">
	
		<div id="tabBusquedaIndex" class="tab-content row ">
			<ul id="tabs-busqueda-cabecera" class="nav nav-tabs">
				<li th:attr="class=${busqueda.casos==null ? 'active' : ''}">
					<a href="#tab-paciente-busqueda" data-toggle="tab">Búsquedas:</a>
				</li>
				<li th:attr="class=${busqueda.casos!=null ? 'active' : ''}">
					<a href="#tab-paciente-resultados" data-toggle="tab">Resultados <b><span th:if="${busqueda.casos!=null}" th:text="|(${busqueda.numResultados})|"></span></b></a>
				</li>
			</ul>
			
			
			<div id="tabs-busqueda" class="tab-content">
			
				<!-- BUSQUEDAS -->
				<div id="tab-paciente-busqueda" class="row" th:attr="class=${busqueda.casos==null ? 'tab-pane fade in active' : 'tab-pane fade'}">
					<div class="col-md-offset-1 col-sm-offset-1">
						<form id="form-edit-paciente" class="form-edit-busqueda" method='POST'>
							<div class="row">
								<div id="grupo-apellido01-paciente" class="form-group col-md-3 col-sm-3">
									<label class="control-label" for="apellido01">1er Apellido:</label>
									<input id="apellido01" class="form-control" name="apellido01" type="text"  th:value="${busqueda.apellido01}" placeholder="1er Apellido"/>
								</div>
								<div id="grupo-apellido02-paciente" class="form-group col-md-3 col-sm-3">	
									<label class="control-label" for="apellido02">2o Apellido:</label>
									<input id="apellido02" class="form-control" name="apellido02" type="text" th:value="${busqueda.apellido02}" placeholder="2o Apellido"/>
								</div>
								<div id="grupo-nombre-paciente" class="form-group col-md-3 col-sm-3">		
									<label class="control-label" for="nombre">Nombre:</label>
									<input id="nombre" class="form-control" name="nombre" type="text"  th:value="${busqueda.nombre}" placeholder="Nombre"/>
								</div>
							</div>
							<div class="row">
								<div  class="form-group col-md-3 col-sm-3">
									<label class="control-label" for="cip">CIP:</label>
									<input  class="form-control" id="cip" name="cip" type="text" maxlength="16" th:value="${busqueda.cip}" placeholder="CIP"/>
								</div>
								<div id="basedtco-caso" class="form-group col-md-6 col-sm-6">
									<label class="control-label" for="domTipoVia">Base del Diagnóstico:</label>
									<select name="baseDiagnostico" class="form-control" id="baseDiagnostico"  th:field="${busqueda.baseDiagnostico}" >
										<option value=""></option>
										<option th:each="baseDto : ${baseModel.cache.basesDiagnosticas}" th:value="${baseDto.key}" th:text="${baseDto.value}"></option>
									</select>
								</div>	
							</div>
							<div class="row">
								<div class="form-group col-md-3 col-sm-3">
									<label class="control-label" for="busquedaProvincia">Provincia Res.:</label>
									<select name="busquedaProvincia" class="form-control col-md-7" id="busquedaProvincia"  th:field="${busqueda.provincia}" >
										<option th:each="provincia : ${baseModel.cache.provinciasCLM}" th:value="${provincia.provincia}" th:text="${provincia.deno}"></option>
									</select>
								</div>
								<div class="form-group col-md-6 col-sm-6">
									<label class="control-label col-md-7" for="busquedaMunicipio">Muncipio Res.:</label>
									<select name="busquedaMunicipio" class="form-control" id="busquedaMunicipio"  th:field="${busqueda.municipio}" >
										<option th:if="${municipiosProvinciaResidencia}!=null" th:each="m : ${municipiosProvinciaResidencia}" th:value="${m.municipio}" th:text="${m.deno}"></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="form-group form-group col-md-2 col-sm-3">
									<label class="control-label" for="anioNacimiento">Año Nacimiento:</label>
									<input name="anioNacimiento" class="form-control" id="anioNacimiento" type="text"  th:value="${busqueda.anioNacimiento}" maxlength="4"/>
								</div>
								<div class="form-group form-group col-md-offset-1 col-md-3 col-sm-4">
									<label class="control-label" for="sexo">Sexo:</label>
									<select name="sexo" class="form-control" id="sexo"  th:field="${busqueda.sexo}" >
										<option value="1">VARÓN</option>
										<option value="6">MUJER</option>
										<option value="9">DESCONOCIDO</option>
									</select>
								</div>
							</div>

							<input id ="enfermedadRaraCLM" name="enfermedadRaraCLM" type="hidden" th:value="${busqueda.enfermedadRaraCLM}"></input>
							<input id="cie9MC" name="cie9MC" type="hidden" th:value="${busqueda.cie9MC}"></input>
							<input id="cie10"  name="cie10"  type="hidden" th:value="${busqueda.cie10}"></input>

							<div class="row">
								<div class="form-group col-md-11 col-sm-11">
									<label class="control-label span10" for="autocompleteEnfermedadRaraCLM">Enfermedad RaraCLM:</label>
									<input class="form-control" id="autocompleteEnfermedadRaraCLM" type="text"></input>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-md-11 col-sm-11">
									<label class="control-label span10" for="autocompleteCie9MC">CIE9MC:</label>
									<input class="form-control" id="autocompleteCie9MC" type="text"></input>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-md-11 col-sm-11">
									<label class="control-label span10" for="autocompleteCie10">CIE10:</label>
									<input class="form-control" id="autocompleteCie10" type="text"></input>
								</div>
							</div>

							<div class="row">
								<div id="grupo-acciones-bajo" class="col-md-12">
									<div class="form-actions">
								  		<button id="submitBuscarPacientes" type="submit" class="btn btn-primary"><i class="icon-user icon-white"></i>&nbsp; Buscar Casos</button>
										<button id="borrarFormulario" class="btn"><i class="icon-trash"></i>&nbsp; Borrar Formulario</button>
									</div>
								</div>
							</div>
						</form>	
				  	</div>
				</div><!-- Fin Tab Formulario de Búsqueda -->

				<!-- TAB PACIENTES -->
				<div id="tab-paciente-resultados" th:attr="class=${busqueda.casos!=null ? 'tab-pane fade in active' : 'tab-pane fade'}">
					<div  th:if="${busqueda.casos}==null">
						<p style="padding: 20px 10px 10px 15px">No hay resultados.</p>
					</div>
					<div class="row">
					<div class="col-md-12">
						<div  th:if="${busqueda.casos}!=null">
								<div id="paginador" class="pager"> 
							        <button class="first"><i class="glyphicon glyphicon-fast-backward"></i></button> 
							        <button class="prev"><i class="glyphicon glyphicon-step-backward"></i></button> 
							        <span class="pagedisplay"></span> <!-- this can be any element, including an input --> 
							        <button class="next"><i class="glyphicon glyphicon-step-forward"></i></button> 
							        <button class="last"><i class="glyphicon glyphicon-fast-forward"></i></button> 
							        <select class="pagesize" title="Select page size"> 
							            <option selected="selected" value="10" style="width:20px">10</option> 
							            <option value="20">20</option> 
							            <option value="30">30</option> 
							            <option value="40">40</option> 
							        </select>						  
								</div>
								<div id="tabla-resultados-contenedor" class="col-md-12">
									  <table id="tabla-resultados">
										 <thead>
											 <tr>
											 	<td></td>
												<td>ID</td>
												<td>Primer Apellido</td>
												<td>Segundo Apellido</td>
												<td>Nombre</td>
												<td>Municipio</td>
												<td>Provincia</td>
												<td>Literal</td>
											</tr>
										</thead>
										<tbody>
											<tr th:each="caso: ${busqueda.casos}" class="clickable">
												<td class="btn-caso-revision"><button th:attr="data-idCaso=${caso.idCaso}"><i class="glyphicon glyphicon-plus-sign"></i></button></td>
												<td><a th:href="|casos/caso/edit/${caso.idCaso}|" th:text="${caso.idCaso}"></a></td>
												<td th:text="${caso.paciente.apellido01}"></td>
												<td th:text="${caso.paciente.apellido02}"></td>
												<td th:text="${caso.paciente.nombre}"></td>
												<td th:text="${baseModel.cache.getMunipioDeno(caso.paciente.municipioResidencia)}"></td>
												<td th:text="${baseModel.cache.getProvinciaDeno(caso.paciente.municipioResidencia.substring(0,2))}"></td>
												<td th:text="${caso.literal}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						 </div>
					  </div>
				</div>
				
			</div><!-- Fin de Tabs Content-->
		</div><!--  Fin div de Tabs -->
		
	</div><!-- Fin Contenido -->
</body>
</html>